/*
 Base styl-file
 Fetches defaults from sweep with additions and overrides 
*/

$sweep = "../../sweep/styl/"

@import "normalize"
@import "topbot"
@import "crow"
@import "mixins"
@import "forms"
@import "components/*"

$colors = 'red' 'pink' 'purple' 'deep-purple' 'indigo' 'blue' 'light-blue' 'cyan' 'teal' 'green' 'light-green' 'lime' 'yellow' 'amber' 'orange' 'deep-orange' 'brown' 'grey' 'blue-grey'

importColors(colors)
  colors = arguments if length(arguments) > 1
   for color in colors
     @import "colors/"+color

importColors($colors)

@import "modules"
@import "style"
@import "style-desktop"
@import "style-tablet"
@import "style-mobile"
@import "nostyle"