.mod-row
  .mod
    base-padding(2.5px)
    &.mod-sizes
      &.s-100
        // code
      &.s-75
        // code
      &.s-66
        // code
      &.s-50
        // code
      &.s-33
        // code
      &.s-25
        // code