@import "colors/all-colors"

.text
  overflow:hidden
.slider
  overflow:hidden
hr
  border-color:$grey
ul
  &.unstyled
    list-style:none
    margin:0
    padding:0
  &.inline
    list-style:none
    li
      inline-block()
.relative
  position:relative
  &:hover
    .reverser
      display:block
.reverser
  position:absolute
  display:none
  .dropdown
    position:absolute
  &.down
    z-index:1
    bottom:0
    left:0
    right:0
    top:auto
    width:100%
    height:0
    .dropdown
      top:0
      left:0
      right:0
      width:100%
  &.right
    z-index:2
    bottom:0
    top:0
    right:auto
    left:100%
    height:100%
    width:100%
    .dropdown
      left:0
      top:0
      bottom:0
      width:100%
      height:100%
  &.left
    z-index:3
    bottom:0
    top:0
    left:auto
    right:100%
    height:100%
    width:100%
    .dropdown
      right:0
      top:0
      bottom:0
      width:100%
      height:100%
  &.up
    z-index:4
    top:0
    right:0
    left:0
    bottom:auto
    width:100%
    height:0
    .dropdown
      bottom:0
      right:0
      left:0
      width:100%
.wrap
  text-align:center
  background:green
  height:300px
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25em // Adjusts for spacing
  .inner
    display: inline-block
    vertical-align: middle
    width: 300px