@import "colors/all-colors"

h1, h2, h3, h4, h5, h6
  font-weight:normal
  margin-bottom:20px
body
  -webkit-font-smoothing:antialiased
  &:before
    position:fixed
    visibility:hidden
    *display:none
img
  max-width:100%
.block
  display:block
#wrapper
  .fullwidth
    height:100%
    padding-bottom:50px
header,
.top
  .fullwidth
    border-bottom:1px solid $grey-300
footer,
.bot
  .fullwidth
    border-top:1px solid $grey-300
