/*
  > topbot CSS <
  The only file necessary to get a
  (really) smart sticky footer!

  Author: Kim Korte
*/
html,
body
  height:100%
  margin:0
body
  display:table
  height:100%
  width:100%
html
  overflow-y:scroll
footer,
.bot,
header,
.top,
#wrapper
  display:table-row
  height:1px
#wrapper
  height:100%