get-black()
  rgba(#000)
bg-black()
  background-color:get-black()
text-black()
  color:get-black()
  &:hover
    color:get-black()
border-black()
  border-color:get-black()
.bg-black
  bg-black()
  .bg-base,
  &.bg-base
    bg-black()
.text-black
  text-black()
  .text-base,
  &.text-base
    text-black()
.border-black
  border-black()
  .border-base,
  &.border-base
    border-black()
