get-black()
  rgba(#000)
fill-black()
  background-color:get-black()
text-black()
  color:get-black()
border-black()
  border-color:get-black()
.fill-black
  fill-black()
  .fill-base,
  &.fill-base
    fill-black()
.text-black
  text-black()
  .text-base,
  &.text-base
    text-black()
.border-black
  border-black()
  .border-base,
  &.border-base
    border-black()
