get-blue(s = false)
  if s == 50
    rgba(#e7e9fd)
  else if s == 100
    rgba(#d0d9ff)
  else if s == 200
    rgba(#afbfff)
  else if s == 300
    rgba(#91a7ff)
  else if s == 400
    rgba(#738ffe)
  else if s == 500
    rgba(#5677fc)
  else if s == 600
    rgba(#4e6cef)
  else if s == 700
    rgba(#455ede)
  else if s == 800
    rgba(#3b50ce)
  else if s == 900
    rgba(#2a36b1)
  else if s == 1000
    rgba(#a6baff)
  else if s == 1100
    rgba(#6889ff)
  else if s == 1200
    rgba(#4d73ff)
  else if s == 1300
    rgba(#4d69ff)
  else 
    rgba(#5677fc)
bg-blue(s = false)
  background-color:get-blue(s)
text-blue(s = false)
  color:get-blue(s)
  &:hover
    color:get-blue(s)
border-blue(s = false)
  border-color:get-blue(s)
.bg-blue
  bg-blue()
  .bg-minus-1,
  &.bg-minus-1
    bg-blue(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-blue(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-blue(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-blue(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-blue(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-blue(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-blue(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-blue(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-blue(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-blue(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-blue(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-blue(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-blue(1300)
  .bg-base,
  &.bg-base
    bg-blue(500)
.text-blue
  text-blue()
  .text-minus-1,
  &.text-minus-1
    text-blue(400)
  .text-minus-2,
  &.text-minus-2
    text-blue(300)
  .text-minus-3,
  &.text-minus-3
    text-blue(200)
  .text-minus-4,
  &.text-minus-4
    text-blue(100)
  .text-minus-5,
  &.text-minus-5
    text-blue(50)
  .text-plus-1,
  &.text-plus-1
    text-blue(600)
  .text-plus-2,
  &.text-plus-2
    text-blue(700)
  .text-plus-3,
  &.text-plus-3
    text-blue(800)
  .text-plus-4,
  &.text-plus-4
    text-blue(900)
  .text-accent-1,
  &.text-accent-1
    text-blue(1000)
  .text-accent-2,
  &.text-accent-2
    text-blue(1100)
  .text-accent-3,
  &.text-accent-3
    text-blue(1200)
  .text-accent-4,
  &.text-accent-4
    text-blue(1300)
  .text-base,
  &.text-base
    text-blue(500)
.border-blue
  border-blue()
  .border-minus-1,
  &.border-minus-1
    border-blue(400)
  .border-minus-2,
  &.border-minus-2
    border-blue(300)
  .border-minus-3,
  &.border-minus-3
    border-blue(200)
  .border-minus-4,
  &.border-minus-4
    border-blue(100)
  .border-minus-5,
  &.border-minus-5
    border-blue(50)
  .border-plus-1,
  &.border-plus-1
    border-blue(600)
  .border-plus-2,
  &.border-plus-2
    border-blue(700)
  .border-plus-3,
  &.border-plus-3
    border-blue(800)
  .border-plus-4,
  &.border-plus-4
    border-blue(900)
  .border-accent-1,
  &.border-accent-1
    border-blue(1000)
  .border-accent-2,
  &.border-accent-2
    border-blue(1100)
  .border-accent-3,
  &.border-accent-3
    border-blue(1200)
  .border-accent-4,
  &.border-accent-4
    border-blue(1300)
  .border-base,
  &.border-base
    border-blue(500)
