get-cyan(s = false)
  if s == 50
    rgba(#e0f7fa)
  else if s == 100
    rgba(#b2ebf2)
  else if s == 200
    rgba(#80deea)
  else if s == 300
    rgba(#4dd0e1)
  else if s == 400
    rgba(#26c6da)
  else if s == 500
    rgba(#00bcd4)
  else if s == 600
    rgba(#00acc1)
  else if s == 700
    rgba(#0097a7)
  else if s == 800
    rgba(#00838f)
  else if s == 900
    rgba(#006064)
  else if s == 1000
    rgba(#84ffff)
  else if s == 1100
    rgba(#18ffff)
  else if s == 1200
    rgba(#00e5ff)
  else if s == 1300
    rgba(#00b8d4)
  else 
    rgba(#00bcd4)
bg-cyan(s = false)
  background-color:get-cyan(s)
text-cyan(s = false)
  color:get-cyan(s)
  &:hover
    color:get-cyan(s)
border-cyan(s = false)
  border-color:get-cyan(s)
.bg-cyan
  bg-cyan()
  .bg-minus-1,
  &.bg-minus-1
    bg-cyan(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-cyan(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-cyan(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-cyan(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-cyan(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-cyan(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-cyan(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-cyan(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-cyan(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-cyan(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-cyan(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-cyan(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-cyan(1300)
  .bg-base,
  &.bg-base
    bg-cyan(500)
.text-cyan
  text-cyan()
  .text-minus-1,
  &.text-minus-1
    text-cyan(400)
  .text-minus-2,
  &.text-minus-2
    text-cyan(300)
  .text-minus-3,
  &.text-minus-3
    text-cyan(200)
  .text-minus-4,
  &.text-minus-4
    text-cyan(100)
  .text-minus-5,
  &.text-minus-5
    text-cyan(50)
  .text-plus-1,
  &.text-plus-1
    text-cyan(600)
  .text-plus-2,
  &.text-plus-2
    text-cyan(700)
  .text-plus-3,
  &.text-plus-3
    text-cyan(800)
  .text-plus-4,
  &.text-plus-4
    text-cyan(900)
  .text-accent-1,
  &.text-accent-1
    text-cyan(1000)
  .text-accent-2,
  &.text-accent-2
    text-cyan(1100)
  .text-accent-3,
  &.text-accent-3
    text-cyan(1200)
  .text-accent-4,
  &.text-accent-4
    text-cyan(1300)
  .text-base,
  &.text-base
    text-cyan(500)
.border-cyan
  border-cyan()
  .border-minus-1,
  &.border-minus-1
    border-cyan(400)
  .border-minus-2,
  &.border-minus-2
    border-cyan(300)
  .border-minus-3,
  &.border-minus-3
    border-cyan(200)
  .border-minus-4,
  &.border-minus-4
    border-cyan(100)
  .border-minus-5,
  &.border-minus-5
    border-cyan(50)
  .border-plus-1,
  &.border-plus-1
    border-cyan(600)
  .border-plus-2,
  &.border-plus-2
    border-cyan(700)
  .border-plus-3,
  &.border-plus-3
    border-cyan(800)
  .border-plus-4,
  &.border-plus-4
    border-cyan(900)
  .border-accent-1,
  &.border-accent-1
    border-cyan(1000)
  .border-accent-2,
  &.border-accent-2
    border-cyan(1100)
  .border-accent-3,
  &.border-accent-3
    border-cyan(1200)
  .border-accent-4,
  &.border-accent-4
    border-cyan(1300)
  .border-base,
  &.border-base
    border-cyan(500)
