get-deep-orange(s = false)
  if s == 50
    rgba(#fbe9e7)
  else if s == 100
    rgba(#ffccbc)
  else if s == 200
    rgba(#ffab91)
  else if s == 300
    rgba(#ff8a65)
  else if s == 400
    rgba(#ff7043)
  else if s == 500
    rgba(#ff5722)
  else if s == 600
    rgba(#f4511e)
  else if s == 700
    rgba(#e64a19)
  else if s == 800
    rgba(#d84315)
  else if s == 900
    rgba(#bf360c)
  else if s == 1000
    rgba(#ff9e80)
  else if s == 1100
    rgba(#ff6e40)
  else if s == 1200
    rgba(#ff3d00)
  else if s == 1300
    rgba(#dd2c00)
  else 
    rgba(#ff5722)
bg-deep-orange(s = false)
  background-color:get-deep-orange(s)
text-deep-orange(s = false)
  color:get-deep-orange(s)
  &:hover
    color:get-deep-orange(s)
border-deep-orange(s = false)
  border-color:get-deep-orange(s)
.bg-deep-orange
  bg-deep-orange()
  .bg-minus-1,
  &.bg-minus-1
    bg-deep-orange(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-deep-orange(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-deep-orange(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-deep-orange(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-deep-orange(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-deep-orange(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-deep-orange(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-deep-orange(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-deep-orange(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-deep-orange(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-deep-orange(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-deep-orange(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-deep-orange(1300)
  .bg-base,
  &.bg-base
    bg-deep-orange(500)
.text-deep-orange
  text-deep-orange()
  .text-minus-1,
  &.text-minus-1
    text-deep-orange(400)
  .text-minus-2,
  &.text-minus-2
    text-deep-orange(300)
  .text-minus-3,
  &.text-minus-3
    text-deep-orange(200)
  .text-minus-4,
  &.text-minus-4
    text-deep-orange(100)
  .text-minus-5,
  &.text-minus-5
    text-deep-orange(50)
  .text-plus-1,
  &.text-plus-1
    text-deep-orange(600)
  .text-plus-2,
  &.text-plus-2
    text-deep-orange(700)
  .text-plus-3,
  &.text-plus-3
    text-deep-orange(800)
  .text-plus-4,
  &.text-plus-4
    text-deep-orange(900)
  .text-accent-1,
  &.text-accent-1
    text-deep-orange(1000)
  .text-accent-2,
  &.text-accent-2
    text-deep-orange(1100)
  .text-accent-3,
  &.text-accent-3
    text-deep-orange(1200)
  .text-accent-4,
  &.text-accent-4
    text-deep-orange(1300)
  .text-base,
  &.text-base
    text-deep-orange(500)
.border-deep-orange
  border-deep-orange()
  .border-minus-1,
  &.border-minus-1
    border-deep-orange(400)
  .border-minus-2,
  &.border-minus-2
    border-deep-orange(300)
  .border-minus-3,
  &.border-minus-3
    border-deep-orange(200)
  .border-minus-4,
  &.border-minus-4
    border-deep-orange(100)
  .border-minus-5,
  &.border-minus-5
    border-deep-orange(50)
  .border-plus-1,
  &.border-plus-1
    border-deep-orange(600)
  .border-plus-2,
  &.border-plus-2
    border-deep-orange(700)
  .border-plus-3,
  &.border-plus-3
    border-deep-orange(800)
  .border-plus-4,
  &.border-plus-4
    border-deep-orange(900)
  .border-accent-1,
  &.border-accent-1
    border-deep-orange(1000)
  .border-accent-2,
  &.border-accent-2
    border-deep-orange(1100)
  .border-accent-3,
  &.border-accent-3
    border-deep-orange(1200)
  .border-accent-4,
  &.border-accent-4
    border-deep-orange(1300)
  .border-base,
  &.border-base
    border-deep-orange(500)
