get-green(s = false)
  if s == 50
    rgba(#d0f8ce)
  else if s == 100
    rgba(#a3e9a4)
  else if s == 200
    rgba(#72d572)
  else if s == 300
    rgba(#42bd41)
  else if s == 400
    rgba(#2baf2b)
  else if s == 500
    rgba(#259b24)
  else if s == 600
    rgba(#0a8f08)
  else if s == 700
    rgba(#0a7e07)
  else if s == 800
    rgba(#056f00)
  else if s == 900
    rgba(#0d5302)
  else if s == 1000
    rgba(#a2f78d)
  else if s == 1100
    rgba(#5af158)
  else if s == 1200
    rgba(#14e715)
  else if s == 1300
    rgba(#12c700)
  else 
    rgba(#259b24)
bg-green(s = false)
  background-color:get-green(s)
text-green(s = false)
  color:get-green(s)
  &:hover
    color:get-green(s)
border-green(s = false)
  border-color:get-green(s)
.bg-green
  bg-green()
  .bg-minus-1,
  &.bg-minus-1
    bg-green(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-green(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-green(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-green(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-green(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-green(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-green(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-green(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-green(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-green(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-green(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-green(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-green(1300)
  .bg-base,
  &.bg-base
    bg-green(500)
.text-green
  text-green()
  .text-minus-1,
  &.text-minus-1
    text-green(400)
  .text-minus-2,
  &.text-minus-2
    text-green(300)
  .text-minus-3,
  &.text-minus-3
    text-green(200)
  .text-minus-4,
  &.text-minus-4
    text-green(100)
  .text-minus-5,
  &.text-minus-5
    text-green(50)
  .text-plus-1,
  &.text-plus-1
    text-green(600)
  .text-plus-2,
  &.text-plus-2
    text-green(700)
  .text-plus-3,
  &.text-plus-3
    text-green(800)
  .text-plus-4,
  &.text-plus-4
    text-green(900)
  .text-accent-1,
  &.text-accent-1
    text-green(1000)
  .text-accent-2,
  &.text-accent-2
    text-green(1100)
  .text-accent-3,
  &.text-accent-3
    text-green(1200)
  .text-accent-4,
  &.text-accent-4
    text-green(1300)
  .text-base,
  &.text-base
    text-green(500)
.border-green
  border-green()
  .border-minus-1,
  &.border-minus-1
    border-green(400)
  .border-minus-2,
  &.border-minus-2
    border-green(300)
  .border-minus-3,
  &.border-minus-3
    border-green(200)
  .border-minus-4,
  &.border-minus-4
    border-green(100)
  .border-minus-5,
  &.border-minus-5
    border-green(50)
  .border-plus-1,
  &.border-plus-1
    border-green(600)
  .border-plus-2,
  &.border-plus-2
    border-green(700)
  .border-plus-3,
  &.border-plus-3
    border-green(800)
  .border-plus-4,
  &.border-plus-4
    border-green(900)
  .border-accent-1,
  &.border-accent-1
    border-green(1000)
  .border-accent-2,
  &.border-accent-2
    border-green(1100)
  .border-accent-3,
  &.border-accent-3
    border-green(1200)
  .border-accent-4,
  &.border-accent-4
    border-green(1300)
  .border-base,
  &.border-base
    border-green(500)
