get-indigo(s = false)
  if s == 50
    rgba(#e8eaf6)
  else if s == 100
    rgba(#c5cae9)
  else if s == 200
    rgba(#9fa8da)
  else if s == 300
    rgba(#7986cb)
  else if s == 400
    rgba(#5c6bc0)
  else if s == 500
    rgba(#3f51b5)
  else if s == 600
    rgba(#3949ab)
  else if s == 700
    rgba(#303f9f)
  else if s == 800
    rgba(#283593)
  else if s == 900
    rgba(#1a237e)
  else if s == 1000
    rgba(#8c9eff)
  else if s == 1100
    rgba(#536dfe)
  else if s == 1200
    rgba(#536dfe)
  else if s == 1300
    rgba(#304ffe)
  else 
    rgba(#3f51b5)
fill-indigo(s = false)
  background-color:get-indigo(s)
text-indigo(s = false)
  color:get-indigo(s)
border-indigo(s = false)
  border-color:get-indigo(s)
.fill-indigo
  fill-indigo()
  .fill-minus-1,
  &.fill-minus-1
    fill-indigo(400)
  .fill-minus-2,
  &.fill-minus-2
    fill-indigo(300)
  .fill-minus-3,
  &.fill-minus-3
    fill-indigo(200)
  .fill-minus-4,
  &.fill-minus-4
    fill-indigo(100)
  .fill-minus-5,
  &.fill-minus-5
    fill-indigo(50)
  .fill-plus-1,
  &.fill-plus-1
    fill-indigo(600)
  .fill-plus-2,
  &.fill-plus-2
    fill-indigo(700)
  .fill-plus-3,
  &.fill-plus-3
    fill-indigo(800)
  .fill-plus-4,
  &.fill-plus-4
    fill-indigo(900)
  .fill-accent-1,
  &.fill-accent-1
    fill-indigo(1000)
  .fill-accent-2,
  &.fill-accent-2
    fill-indigo(1100)
  .fill-accent-3,
  &.fill-accent-3
    fill-indigo(1200)
  .fill-accent-4,
  &.fill-accent-4
    fill-indigo(1300)
  .fill-base,
  &.fill-base
    fill-indigo(500)
.text-indigo
  text-indigo()
  .text-minus-1,
  &.text-minus-1
    text-indigo(400)
  .text-minus-2,
  &.text-minus-2
    text-indigo(300)
  .text-minus-3,
  &.text-minus-3
    text-indigo(200)
  .text-minus-4,
  &.text-minus-4
    text-indigo(100)
  .text-minus-5,
  &.text-minus-5
    text-indigo(50)
  .text-plus-1,
  &.text-plus-1
    text-indigo(600)
  .text-plus-2,
  &.text-plus-2
    text-indigo(700)
  .text-plus-3,
  &.text-plus-3
    text-indigo(800)
  .text-plus-4,
  &.text-plus-4
    text-indigo(900)
  .text-accent-1,
  &.text-accent-1
    text-indigo(1000)
  .text-accent-2,
  &.text-accent-2
    text-indigo(1100)
  .text-accent-3,
  &.text-accent-3
    text-indigo(1200)
  .text-accent-4,
  &.text-accent-4
    text-indigo(1300)
  .text-base,
  &.text-base
    text-indigo(500)
.border-indigo
  border-indigo()
  .border-minus-1,
  &.border-minus-1
    border-indigo(400)
  .border-minus-2,
  &.border-minus-2
    border-indigo(300)
  .border-minus-3,
  &.border-minus-3
    border-indigo(200)
  .border-minus-4,
  &.border-minus-4
    border-indigo(100)
  .border-minus-5,
  &.border-minus-5
    border-indigo(50)
  .border-plus-1,
  &.border-plus-1
    border-indigo(600)
  .border-plus-2,
  &.border-plus-2
    border-indigo(700)
  .border-plus-3,
  &.border-plus-3
    border-indigo(800)
  .border-plus-4,
  &.border-plus-4
    border-indigo(900)
  .border-accent-1,
  &.border-accent-1
    border-indigo(1000)
  .border-accent-2,
  &.border-accent-2
    border-indigo(1100)
  .border-accent-3,
  &.border-accent-3
    border-indigo(1200)
  .border-accent-4,
  &.border-accent-4
    border-indigo(1300)
  .border-base,
  &.border-base
    border-indigo(500)
