get-light-green(s = false)
  if s == 50
    rgba(#f1f8e9)
  else if s == 100
    rgba(#dcedc8)
  else if s == 200
    rgba(#c5e1a5)
  else if s == 300
    rgba(#aed581)
  else if s == 400
    rgba(#9ccc65)
  else if s == 500
    rgba(#8bc34a)
  else if s == 600
    rgba(#7cb342)
  else if s == 700
    rgba(#689f38)
  else if s == 800
    rgba(#558b2f)
  else if s == 900
    rgba(#33691e)
  else if s == 1000
    rgba(#ccff90)
  else if s == 1100
    rgba(#b2ff59)
  else if s == 1200
    rgba(#76ff03)
  else if s == 1300
    rgba(#64dd17)
  else 
    rgba(#8bc34a)
bg-light-green(s = false)
  background-color:get-light-green(s)
text-light-green(s = false)
  color:get-light-green(s)
  &:hover
    color:get-light-green(s)
border-light-green(s = false)
  border-color:get-light-green(s)
.bg-light-green
  bg-light-green()
  .bg-minus-1,
  &.bg-minus-1
    bg-light-green(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-light-green(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-light-green(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-light-green(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-light-green(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-light-green(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-light-green(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-light-green(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-light-green(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-light-green(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-light-green(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-light-green(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-light-green(1300)
  .bg-base,
  &.bg-base
    bg-light-green(500)
.text-light-green
  text-light-green()
  .text-minus-1,
  &.text-minus-1
    text-light-green(400)
  .text-minus-2,
  &.text-minus-2
    text-light-green(300)
  .text-minus-3,
  &.text-minus-3
    text-light-green(200)
  .text-minus-4,
  &.text-minus-4
    text-light-green(100)
  .text-minus-5,
  &.text-minus-5
    text-light-green(50)
  .text-plus-1,
  &.text-plus-1
    text-light-green(600)
  .text-plus-2,
  &.text-plus-2
    text-light-green(700)
  .text-plus-3,
  &.text-plus-3
    text-light-green(800)
  .text-plus-4,
  &.text-plus-4
    text-light-green(900)
  .text-accent-1,
  &.text-accent-1
    text-light-green(1000)
  .text-accent-2,
  &.text-accent-2
    text-light-green(1100)
  .text-accent-3,
  &.text-accent-3
    text-light-green(1200)
  .text-accent-4,
  &.text-accent-4
    text-light-green(1300)
  .text-base,
  &.text-base
    text-light-green(500)
.border-light-green
  border-light-green()
  .border-minus-1,
  &.border-minus-1
    border-light-green(400)
  .border-minus-2,
  &.border-minus-2
    border-light-green(300)
  .border-minus-3,
  &.border-minus-3
    border-light-green(200)
  .border-minus-4,
  &.border-minus-4
    border-light-green(100)
  .border-minus-5,
  &.border-minus-5
    border-light-green(50)
  .border-plus-1,
  &.border-plus-1
    border-light-green(600)
  .border-plus-2,
  &.border-plus-2
    border-light-green(700)
  .border-plus-3,
  &.border-plus-3
    border-light-green(800)
  .border-plus-4,
  &.border-plus-4
    border-light-green(900)
  .border-accent-1,
  &.border-accent-1
    border-light-green(1000)
  .border-accent-2,
  &.border-accent-2
    border-light-green(1100)
  .border-accent-3,
  &.border-accent-3
    border-light-green(1200)
  .border-accent-4,
  &.border-accent-4
    border-light-green(1300)
  .border-base,
  &.border-base
    border-light-green(500)
