get-light-blue(s = false)
  if s == 50
    rgba(#e1f5fe)
  else if s == 100
    rgba(#b3e5fc)
  else if s == 200
    rgba(#81d4fa)
  else if s == 300
    rgba(#4fc3f7)
  else if s == 400
    rgba(#29b6f6)
  else if s == 500
    rgba(#03a9f4)
  else if s == 600
    rgba(#039be5)
  else if s == 700
    rgba(#0288d1)
  else if s == 800
    rgba(#0277bd)
  else if s == 900
    rgba(#01579b)
  else if s == 1000
    rgba(#80d8ff)
  else if s == 1100
    rgba(#40c4ff)
  else if s == 1200
    rgba(#00b0ff)
  else if s == 1300
    rgba(#0091ea)
  else 
    rgba(#03a9f4)
bg-light-blue(s = false)
  background-color:get-light-blue(s)
text-light-blue(s = false)
  color:get-light-blue(s)
  &:hover
    color:get-light-blue(s)
border-light-blue(s = false)
  border-color:get-light-blue(s)
.bg-light-blue
  bg-light-blue()
  .bg-minus-1,
  &.bg-minus-1
    bg-light-blue(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-light-blue(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-light-blue(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-light-blue(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-light-blue(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-light-blue(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-light-blue(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-light-blue(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-light-blue(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-light-blue(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-light-blue(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-light-blue(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-light-blue(1300)
  .bg-base,
  &.bg-base
    bg-light-blue(500)
.text-light-blue
  text-light-blue()
  .text-minus-1,
  &.text-minus-1
    text-light-blue(400)
  .text-minus-2,
  &.text-minus-2
    text-light-blue(300)
  .text-minus-3,
  &.text-minus-3
    text-light-blue(200)
  .text-minus-4,
  &.text-minus-4
    text-light-blue(100)
  .text-minus-5,
  &.text-minus-5
    text-light-blue(50)
  .text-plus-1,
  &.text-plus-1
    text-light-blue(600)
  .text-plus-2,
  &.text-plus-2
    text-light-blue(700)
  .text-plus-3,
  &.text-plus-3
    text-light-blue(800)
  .text-plus-4,
  &.text-plus-4
    text-light-blue(900)
  .text-accent-1,
  &.text-accent-1
    text-light-blue(1000)
  .text-accent-2,
  &.text-accent-2
    text-light-blue(1100)
  .text-accent-3,
  &.text-accent-3
    text-light-blue(1200)
  .text-accent-4,
  &.text-accent-4
    text-light-blue(1300)
  .text-base,
  &.text-base
    text-light-blue(500)
.border-light-blue
  border-light-blue()
  .border-minus-1,
  &.border-minus-1
    border-light-blue(400)
  .border-minus-2,
  &.border-minus-2
    border-light-blue(300)
  .border-minus-3,
  &.border-minus-3
    border-light-blue(200)
  .border-minus-4,
  &.border-minus-4
    border-light-blue(100)
  .border-minus-5,
  &.border-minus-5
    border-light-blue(50)
  .border-plus-1,
  &.border-plus-1
    border-light-blue(600)
  .border-plus-2,
  &.border-plus-2
    border-light-blue(700)
  .border-plus-3,
  &.border-plus-3
    border-light-blue(800)
  .border-plus-4,
  &.border-plus-4
    border-light-blue(900)
  .border-accent-1,
  &.border-accent-1
    border-light-blue(1000)
  .border-accent-2,
  &.border-accent-2
    border-light-blue(1100)
  .border-accent-3,
  &.border-accent-3
    border-light-blue(1200)
  .border-accent-4,
  &.border-accent-4
    border-light-blue(1300)
  .border-base,
  &.border-base
    border-light-blue(500)
