get-lime(s = false)
  if s == 50
    rgba(#f9fbe7)
  else if s == 100
    rgba(#f0f4c3)
  else if s == 200
    rgba(#e6ee9c)
  else if s == 300
    rgba(#dce775)
  else if s == 400
    rgba(#d4e157)
  else if s == 500
    rgba(#cddc39)
  else if s == 600
    rgba(#c0ca33)
  else if s == 700
    rgba(#afb42b)
  else if s == 800
    rgba(#9e9d24)
  else if s == 900
    rgba(#827717)
  else if s == 1000
    rgba(#f4ff81)
  else if s == 1100
    rgba(#eeff41)
  else if s == 1200
    rgba(#c6ff00)
  else if s == 1300
    rgba(#aeea00)
  else 
    rgba(#cddc39)
bg-lime(s = false)
  background-color:get-lime(s)
text-lime(s = false)
  color:get-lime(s)
  &:hover
    color:get-lime(s)
border-lime(s = false)
  border-color:get-lime(s)
.bg-lime
  bg-lime()
  .bg-minus-1,
  &.bg-minus-1
    bg-lime(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-lime(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-lime(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-lime(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-lime(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-lime(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-lime(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-lime(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-lime(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-lime(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-lime(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-lime(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-lime(1300)
  .bg-base,
  &.bg-base
    bg-lime(500)
.text-lime
  text-lime()
  .text-minus-1,
  &.text-minus-1
    text-lime(400)
  .text-minus-2,
  &.text-minus-2
    text-lime(300)
  .text-minus-3,
  &.text-minus-3
    text-lime(200)
  .text-minus-4,
  &.text-minus-4
    text-lime(100)
  .text-minus-5,
  &.text-minus-5
    text-lime(50)
  .text-plus-1,
  &.text-plus-1
    text-lime(600)
  .text-plus-2,
  &.text-plus-2
    text-lime(700)
  .text-plus-3,
  &.text-plus-3
    text-lime(800)
  .text-plus-4,
  &.text-plus-4
    text-lime(900)
  .text-accent-1,
  &.text-accent-1
    text-lime(1000)
  .text-accent-2,
  &.text-accent-2
    text-lime(1100)
  .text-accent-3,
  &.text-accent-3
    text-lime(1200)
  .text-accent-4,
  &.text-accent-4
    text-lime(1300)
  .text-base,
  &.text-base
    text-lime(500)
.border-lime
  border-lime()
  .border-minus-1,
  &.border-minus-1
    border-lime(400)
  .border-minus-2,
  &.border-minus-2
    border-lime(300)
  .border-minus-3,
  &.border-minus-3
    border-lime(200)
  .border-minus-4,
  &.border-minus-4
    border-lime(100)
  .border-minus-5,
  &.border-minus-5
    border-lime(50)
  .border-plus-1,
  &.border-plus-1
    border-lime(600)
  .border-plus-2,
  &.border-plus-2
    border-lime(700)
  .border-plus-3,
  &.border-plus-3
    border-lime(800)
  .border-plus-4,
  &.border-plus-4
    border-lime(900)
  .border-accent-1,
  &.border-accent-1
    border-lime(1000)
  .border-accent-2,
  &.border-accent-2
    border-lime(1100)
  .border-accent-3,
  &.border-accent-3
    border-lime(1200)
  .border-accent-4,
  &.border-accent-4
    border-lime(1300)
  .border-base,
  &.border-base
    border-lime(500)
