get-orange(s = false)
  if s == 50
    rgba(#fff3e0)
  else if s == 100
    rgba(#ffe0b2)
  else if s == 200
    rgba(#ffcc80)
  else if s == 300
    rgba(#ffb74d)
  else if s == 400
    rgba(#ffa726)
  else if s == 500
    rgba(#ff9800)
  else if s == 600
    rgba(#fb8c00)
  else if s == 700
    rgba(#f57c00)
  else if s == 800
    rgba(#ef6c00)
  else if s == 900
    rgba(#e65100)
  else if s == 1000
    rgba(#ffd180)
  else if s == 1100
    rgba(#ffab40)
  else if s == 1200
    rgba(#ff9100)
  else if s == 1300
    rgba(#ff6d00)
  else 
    rgba(#ff9800)
bg-orange(s = false)
  background-color:get-orange(s)
text-orange(s = false)
  color:get-orange(s)
  &:hover
    color:get-orange(s)
border-orange(s = false)
  border-color:get-orange(s)
.bg-orange
  bg-orange()
  .bg-minus-1,
  &.bg-minus-1
    bg-orange(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-orange(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-orange(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-orange(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-orange(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-orange(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-orange(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-orange(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-orange(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-orange(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-orange(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-orange(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-orange(1300)
  .bg-base,
  &.bg-base
    bg-orange(500)
.text-orange
  text-orange()
  .text-minus-1,
  &.text-minus-1
    text-orange(400)
  .text-minus-2,
  &.text-minus-2
    text-orange(300)
  .text-minus-3,
  &.text-minus-3
    text-orange(200)
  .text-minus-4,
  &.text-minus-4
    text-orange(100)
  .text-minus-5,
  &.text-minus-5
    text-orange(50)
  .text-plus-1,
  &.text-plus-1
    text-orange(600)
  .text-plus-2,
  &.text-plus-2
    text-orange(700)
  .text-plus-3,
  &.text-plus-3
    text-orange(800)
  .text-plus-4,
  &.text-plus-4
    text-orange(900)
  .text-accent-1,
  &.text-accent-1
    text-orange(1000)
  .text-accent-2,
  &.text-accent-2
    text-orange(1100)
  .text-accent-3,
  &.text-accent-3
    text-orange(1200)
  .text-accent-4,
  &.text-accent-4
    text-orange(1300)
  .text-base,
  &.text-base
    text-orange(500)
.border-orange
  border-orange()
  .border-minus-1,
  &.border-minus-1
    border-orange(400)
  .border-minus-2,
  &.border-minus-2
    border-orange(300)
  .border-minus-3,
  &.border-minus-3
    border-orange(200)
  .border-minus-4,
  &.border-minus-4
    border-orange(100)
  .border-minus-5,
  &.border-minus-5
    border-orange(50)
  .border-plus-1,
  &.border-plus-1
    border-orange(600)
  .border-plus-2,
  &.border-plus-2
    border-orange(700)
  .border-plus-3,
  &.border-plus-3
    border-orange(800)
  .border-plus-4,
  &.border-plus-4
    border-orange(900)
  .border-accent-1,
  &.border-accent-1
    border-orange(1000)
  .border-accent-2,
  &.border-accent-2
    border-orange(1100)
  .border-accent-3,
  &.border-accent-3
    border-orange(1200)
  .border-accent-4,
  &.border-accent-4
    border-orange(1300)
  .border-base,
  &.border-base
    border-orange(500)
