get-purple(s = false)
  if s == 50
    rgba(#f3e5f5)
  else if s == 100
    rgba(#e1bee7)
  else if s == 200
    rgba(#ce93d8)
  else if s == 300
    rgba(#ba68c8)
  else if s == 400
    rgba(#ab47bc)
  else if s == 500
    rgba(#9c27b0)
  else if s == 600
    rgba(#8e24aa)
  else if s == 700
    rgba(#7b1fa2)
  else if s == 800
    rgba(#6a1b9a)
  else if s == 900
    rgba(#4a148c)
  else if s == 1000
    rgba(#ea80fc)
  else if s == 1100
    rgba(#e040fb)
  else if s == 1200
    rgba(#d500f9)
  else if s == 1300
    rgba(#aa00ff)
  else 
    rgba(#9c27b0)
bg-purple(s = false)
  background-color:get-purple(s)
text-purple(s = false)
  color:get-purple(s)
  &:hover
    color:get-purple(s)
border-purple(s = false)
  border-color:get-purple(s)
.bg-purple
  bg-purple()
  .bg-minus-1,
  &.bg-minus-1
    bg-purple(400)
  .bg-minus-2,
  &.bg-minus-2
    bg-purple(300)
  .bg-minus-3,
  &.bg-minus-3
    bg-purple(200)
  .bg-minus-4,
  &.bg-minus-4
    bg-purple(100)
  .bg-minus-5,
  &.bg-minus-5
    bg-purple(50)
  .bg-plus-1,
  &.bg-plus-1
    bg-purple(600)
  .bg-plus-2,
  &.bg-plus-2
    bg-purple(700)
  .bg-plus-3,
  &.bg-plus-3
    bg-purple(800)
  .bg-plus-4,
  &.bg-plus-4
    bg-purple(900)
  .bg-accent-1,
  &.bg-accent-1
    bg-purple(1000)
  .bg-accent-2,
  &.bg-accent-2
    bg-purple(1100)
  .bg-accent-3,
  &.bg-accent-3
    bg-purple(1200)
  .bg-accent-4,
  &.bg-accent-4
    bg-purple(1300)
  .bg-base,
  &.bg-base
    bg-purple(500)
.text-purple
  text-purple()
  .text-minus-1,
  &.text-minus-1
    text-purple(400)
  .text-minus-2,
  &.text-minus-2
    text-purple(300)
  .text-minus-3,
  &.text-minus-3
    text-purple(200)
  .text-minus-4,
  &.text-minus-4
    text-purple(100)
  .text-minus-5,
  &.text-minus-5
    text-purple(50)
  .text-plus-1,
  &.text-plus-1
    text-purple(600)
  .text-plus-2,
  &.text-plus-2
    text-purple(700)
  .text-plus-3,
  &.text-plus-3
    text-purple(800)
  .text-plus-4,
  &.text-plus-4
    text-purple(900)
  .text-accent-1,
  &.text-accent-1
    text-purple(1000)
  .text-accent-2,
  &.text-accent-2
    text-purple(1100)
  .text-accent-3,
  &.text-accent-3
    text-purple(1200)
  .text-accent-4,
  &.text-accent-4
    text-purple(1300)
  .text-base,
  &.text-base
    text-purple(500)
.border-purple
  border-purple()
  .border-minus-1,
  &.border-minus-1
    border-purple(400)
  .border-minus-2,
  &.border-minus-2
    border-purple(300)
  .border-minus-3,
  &.border-minus-3
    border-purple(200)
  .border-minus-4,
  &.border-minus-4
    border-purple(100)
  .border-minus-5,
  &.border-minus-5
    border-purple(50)
  .border-plus-1,
  &.border-plus-1
    border-purple(600)
  .border-plus-2,
  &.border-plus-2
    border-purple(700)
  .border-plus-3,
  &.border-plus-3
    border-purple(800)
  .border-plus-4,
  &.border-plus-4
    border-purple(900)
  .border-accent-1,
  &.border-accent-1
    border-purple(1000)
  .border-accent-2,
  &.border-accent-2
    border-purple(1100)
  .border-accent-3,
  &.border-accent-3
    border-purple(1200)
  .border-accent-4,
  &.border-accent-4
    border-purple(1300)
  .border-base,
  &.border-base
    border-purple(500)
