get-red(s = false)
  if s == 50
    rgba(#fde0dc)
  else if s == 100
    rgba(#f9bdbb)
  else if s == 200
    rgba(#f69988)
  else if s == 300
    rgba(#f36c60)
  else if s == 400
    rgba(#e84e40)
  else if s == 500
    rgba(#e51c23)
  else if s == 600
    rgba(#dd191d)
  else if s == 700
    rgba(#d01716)
  else if s == 800
    rgba(#c41411)
  else if s == 900
    rgba(#b0120a)
  else if s == 1000
    rgba(#ff7997)
  else if s == 1100
    rgba(#ff5177)
  else if s == 1200
    rgba(#ff2d6f)
  else if s == 1300
    rgba(#e00032)
  else 
    rgba(#e51c23)
fill-red(s = false)
  background-color:get-red(s)
text-red(s = false)
  color:get-red(s)
border-red(s = false)
  border-color:get-red(s)
.fill-red
  fill-red()
  .fill-minus-1,
  &.fill-minus-1
    fill-red(400)
  .fill-minus-2,
  &.fill-minus-2
    fill-red(300)
  .fill-minus-3,
  &.fill-minus-3
    fill-red(200)
  .fill-minus-4,
  &.fill-minus-4
    fill-red(100)
  .fill-minus-5,
  &.fill-minus-5
    fill-red(50)
  .fill-plus-1,
  &.fill-plus-1
    fill-red(600)
  .fill-plus-2,
  &.fill-plus-2
    fill-red(700)
  .fill-plus-3,
  &.fill-plus-3
    fill-red(800)
  .fill-plus-4,
  &.fill-plus-4
    fill-red(900)
  .fill-accent-1,
  &.fill-accent-1
    fill-red(1000)
  .fill-accent-2,
  &.fill-accent-2
    fill-red(1100)
  .fill-accent-3,
  &.fill-accent-3
    fill-red(1200)
  .fill-accent-4,
  &.fill-accent-4
    fill-red(1300)
  .fill-base,
  &.fill-base
    fill-red(500)
.text-red
  text-red()
  .text-minus-1,
  &.text-minus-1
    text-red(400)
  .text-minus-2,
  &.text-minus-2
    text-red(300)
  .text-minus-3,
  &.text-minus-3
    text-red(200)
  .text-minus-4,
  &.text-minus-4
    text-red(100)
  .text-minus-5,
  &.text-minus-5
    text-red(50)
  .text-plus-1,
  &.text-plus-1
    text-red(600)
  .text-plus-2,
  &.text-plus-2
    text-red(700)
  .text-plus-3,
  &.text-plus-3
    text-red(800)
  .text-plus-4,
  &.text-plus-4
    text-red(900)
  .text-accent-1,
  &.text-accent-1
    text-red(1000)
  .text-accent-2,
  &.text-accent-2
    text-red(1100)
  .text-accent-3,
  &.text-accent-3
    text-red(1200)
  .text-accent-4,
  &.text-accent-4
    text-red(1300)
  .text-base,
  &.text-base
    text-red(500)
.border-red
  border-red()
  .border-minus-1,
  &.border-minus-1
    border-red(400)
  .border-minus-2,
  &.border-minus-2
    border-red(300)
  .border-minus-3,
  &.border-minus-3
    border-red(200)
  .border-minus-4,
  &.border-minus-4
    border-red(100)
  .border-minus-5,
  &.border-minus-5
    border-red(50)
  .border-plus-1,
  &.border-plus-1
    border-red(600)
  .border-plus-2,
  &.border-plus-2
    border-red(700)
  .border-plus-3,
  &.border-plus-3
    border-red(800)
  .border-plus-4,
  &.border-plus-4
    border-red(900)
  .border-accent-1,
  &.border-accent-1
    border-red(1000)
  .border-accent-2,
  &.border-accent-2
    border-red(1100)
  .border-accent-3,
  &.border-accent-3
    border-red(1200)
  .border-accent-4,
  &.border-accent-4
    border-red(1300)
  .border-base,
  &.border-base
    border-red(500)
