get-white()
  rgba(#fff)
bg-white()
  background-color:get-white()
text-white()
  color:get-white()
  &:hover
    color:get-white()
border-white()
  border-color:get-white()
.bg-white
  bg-white()
  .bg-base,
  &.bg-base
    bg-white()
.text-white
  text-white()
  .text-base,
  &.text-base
    text-white()
.border-white
  border-white()
  .border-base,
  &.border-base
    border-white()
