get-white()
  rgba(#fff)
fill-white()
  background-color:get-white()
text-white()
  color:get-white()
border-white()
  border-color:get-white()
.fill-white
  fill-white()
  .fill-base,
  &.fill-base
    fill-white()
.text-white
  text-white()
  .text-base,
  &.text-base
    text-white()
.border-white
  border-white()
  .border-base,
  &.border-base
    border-white()
