.amber {
  background-color: #ffc107;
  color: $black;
}
.amber a {
  color: $black;
}
.amber.m450,
.amber .m450 {
  background-color: #fff8e1;
  color: $black;
}
.amber.m450 a,
.amber .m450 a {
  color: $black;
}
.amber.m400,
.amber .m400 {
  background-color: #ffecb3;
  color: $black;
}
.amber.m400 a,
.amber .m400 a {
  color: $black;
}
.amber.m300,
.amber .m300 {
  background-color: #ffe082;
  color: $black;
}
.amber.m300 a,
.amber .m300 a {
  color: $black;
}
.amber.m200,
.amber .m200 {
  background-color: #ffd54f;
  color: $black;
}
.amber.m200 a,
.amber .m200 a {
  color: $black;
}
.amber.m100,
.amber .m100 {
  background-color: #ffca28;
  color: $black;
}
.amber.m100 a,
.amber .m100 a {
  color: $black;
}
.amber.p100,
.amber .p100 {
  background-color: #ffb300;
  color: $black;
}
.amber.p100 a,
.amber .p100 a {
  color: $black;
}
.amber.p200,
.amber .p200 {
  background-color: #ffa000;
  color: $black;
}
.amber.p200 a,
.amber .p200 a {
  color: $black;
}
.amber.p300,
.amber .p300 {
  background-color: #ff8f00;
  color: $black;
}
.amber.p300 a,
.amber .p300 a {
  color: $black;
}
.amber.p400,
.amber .p400 {
  background-color: #ff6f00;
  color: $black;
}
.amber.p400 a,
.amber .p400 a {
  color: $black;
}
.amber.a100,
.amber .a100 {
  background-color: #ffe57f;
  color: $black;
}
.amber.a100 a,
.amber .a100 a {
  color: $black;
}
.amber.a200,
.amber .a200 {
  background-color: #ffd740;
  color: $black;
}
.amber.a200 a,
.amber .a200 a {
  color: $black;
}
.amber.a300,
.amber .a300 {
  background-color: #ffc400;
  color: $black;
}
.amber.a300 a,
.amber .a300 a {
  color: $black;
}
.amber.a400,
.amber .a400 {
  background-color: #ffab00;
  color: $black;
}
.amber.a400 a,
.amber .a400 a {
  color: $black;
}
