.blue {
  background: #5677fc;
  color: $white;
}
.blue a {
  color: $white;
}
.blue.m450,
.blue .m450 {
  background: #e7e9fd;
  color: $black;
}
.blue.m450 a,
.blue .m450 a {
  color: $black;
}
.blue.m400,
.blue .m400 {
  background: #d0d9ff;
  color: $black;
}
.blue.m400 a,
.blue .m400 a {
  color: $black;
}
.blue.m300,
.blue .m300 {
  background: #afbfff;
  color: $black;
}
.blue.m300 a,
.blue .m300 a {
  color: $black;
}
.blue.m200,
.blue .m200 {
  background: #91a7ff;
  color: $black;
}
.blue.m200 a,
.blue .m200 a {
  color: $black;
}
.blue.m100,
.blue .m100 {
  background: #738ffe;
  color: $black;
}
.blue.m100 a,
.blue .m100 a {
  color: $black;
}
.blue.p100,
.blue .p100 {
  background: #4e6cef;
  color: $white;
}
.blue.p100 a,
.blue .p100 a {
  color: $white;
}
.blue.p200,
.blue .p200 {
  background: #455ede;
  color: $white;
}
.blue.p200 a,
.blue .p200 a {
  color: $white;
}
.blue.p300,
.blue .p300 {
  background: #3b50ce;
  color: $white;
}
.blue.p300 a,
.blue .p300 a {
  color: $white;
}
.blue.p400,
.blue .p400 {
  background: #2a36b1;
  color: $white;
}
.blue.p400 a,
.blue .p400 a {
  color: $white;
}
.blue.a100,
.blue .a100 {
  background: #a6baff;
  color: $black;
}
.blue.a100 a,
.blue .a100 a {
  color: $black;
}
.blue.a200,
.blue .a200 {
  background: #6889ff;
  color: $white;
}
.blue.a200 a,
.blue .a200 a {
  color: $white;
}
.blue.a300,
.blue .a300 {
  background: #4d73ff;
  color: $white;
}
.blue.a300 a,
.blue .a300 a {
  color: $white;
}
.blue.a400,
.blue .a400 {
  background: #4d69ff;
  color: $white;
}
.blue.a400 a,
.blue .a400 a {
  color: $white;
}
