.cyan {
  background-color: #00bcd4;
  color: $white;
}
.cyan a {
  color: $white;
}
.cyan.m450,
.cyan .m450 {
  background-color: #e0f7fa;
  color: $black;
}
.cyan.m450 a,
.cyan .m450 a {
  color: $black;
}
.cyan.m400,
.cyan .m400 {
  background-color: #b2ebf2;
  color: $black;
}
.cyan.m400 a,
.cyan .m400 a {
  color: $black;
}
.cyan.m300,
.cyan .m300 {
  background-color: #80deea;
  color: $black;
}
.cyan.m300 a,
.cyan .m300 a {
  color: $black;
}
.cyan.m200,
.cyan .m200 {
  background-color: #4dd0e1;
  color: $black;
}
.cyan.m200 a,
.cyan .m200 a {
  color: $black;
}
.cyan.m100,
.cyan .m100 {
  background-color: #26c6da;
  color: $black;
}
.cyan.m100 a,
.cyan .m100 a {
  color: $black;
}
.cyan.p100,
.cyan .p100 {
  background-color: #00acc1;
  color: $white;
}
.cyan.p100 a,
.cyan .p100 a {
  color: $white;
}
.cyan.p200,
.cyan .p200 {
  background-color: #0097a7;
  color: $white;
}
.cyan.p200 a,
.cyan .p200 a {
  color: $white;
}
.cyan.p300,
.cyan .p300 {
  background-color: #00838f;
  color: $white;
}
.cyan.p300 a,
.cyan .p300 a {
  color: $white;
}
.cyan.p400,
.cyan .p400 {
  background-color: #006064;
  color: $white;
}
.cyan.p400 a,
.cyan .p400 a {
  color: $white;
}
.cyan.a100,
.cyan .a100 {
  background-color: #84ffff;
  color: $black;
}
.cyan.a100 a,
.cyan .a100 a {
  color: $black;
}
.cyan.a200,
.cyan .a200 {
  background-color: #18ffff;
  color: $black;
}
.cyan.a200 a,
.cyan .a200 a {
  color: $black;
}
.cyan.a300,
.cyan .a300 {
  background-color: #00e5ff;
  color: $black;
}
.cyan.a300 a,
.cyan .a300 a {
  color: $black;
}
.cyan.a400,
.cyan .a400 {
  background-color: #00b8d4;
  color: $black;
}
.cyan.a400 a,
.cyan .a400 a {
  color: $black;
}
