.deep-orange {
  background-color: #ff5722;
  color: $white;
}
.deep-orange a {
  color: $white;
}
.deep-orange.m450,
.deep-orange .m450 {
  background-color: #fbe9e7;
  color: $black;
}
.deep-orange.m450 a,
.deep-orange .m450 a {
  color: $black;
}
.deep-orange.m400,
.deep-orange .m400 {
  background-color: #ffccbc;
  color: $black;
}
.deep-orange.m400 a,
.deep-orange .m400 a {
  color: $black;
}
.deep-orange.m300,
.deep-orange .m300 {
  background-color: #ffab91;
  color: $black;
}
.deep-orange.m300 a,
.deep-orange .m300 a {
  color: $black;
}
.deep-orange.m200,
.deep-orange .m200 {
  background-color: #ff8a65;
  color: $black;
}
.deep-orange.m200 a,
.deep-orange .m200 a {
  color: $black;
}
.deep-orange.m100,
.deep-orange .m100 {
  background-color: #ff7043;
  color: $black;
}
.deep-orange.m100 a,
.deep-orange .m100 a {
  color: $black;
}
.deep-orange.p100,
.deep-orange .p100 {
  background-color: #f4511e;
  color: $white;
}
.deep-orange.p100 a,
.deep-orange .p100 a {
  color: $white;
}
.deep-orange.p200,
.deep-orange .p200 {
  background-color: #e64a19;
  color: $white;
}
.deep-orange.p200 a,
.deep-orange .p200 a {
  color: $white;
}
.deep-orange.p300,
.deep-orange .p300 {
  background-color: #d84315;
  color: $white;
}
.deep-orange.p300 a,
.deep-orange .p300 a {
  color: $white;
}
.deep-orange.p400,
.deep-orange .p400 {
  background-color: #bf360c;
  color: $white;
}
.deep-orange.p400 a,
.deep-orange .p400 a {
  color: $white;
}
.deep-orange.a100,
.deep-orange .a100 {
  background-color: #ff9e80;
  color: $black;
}
.deep-orange.a100 a,
.deep-orange .a100 a {
  color: $black;
}
.deep-orange.a200,
.deep-orange .a200 {
  background-color: #ff6e40;
  color: $black;
}
.deep-orange.a200 a,
.deep-orange .a200 a {
  color: $black;
}
.deep-orange.a300,
.deep-orange .a300 {
  background-color: #ff3d00;
  color: $white;
}
.deep-orange.a300 a,
.deep-orange .a300 a {
  color: $white;
}
.deep-orange.a400,
.deep-orange .a400 {
  background-color: #dd2c00;
  color: $white;
}
.deep-orange.a400 a,
.deep-orange .a400 a {
  color: $white;
}
