.lime {
  background-color: #cddc39;
  color: $black;
}
.lime a {
  color: $black;
}
.lime.m450,
.lime .m450 {
  background-color: #f9fbe7;
  color: $black;
}
.lime.m450 a,
.lime .m450 a {
  color: $black;
}
.lime.m400,
.lime .m400 {
  background-color: #f0f4c3;
  color: $black;
}
.lime.m400 a,
.lime .m400 a {
  color: $black;
}
.lime.m300,
.lime .m300 {
  background-color: #e6ee9c;
  color: $black;
}
.lime.m300 a,
.lime .m300 a {
  color: $black;
}
.lime.m200,
.lime .m200 {
  background-color: #dce775;
  color: $black;
}
.lime.m200 a,
.lime .m200 a {
  color: $black;
}
.lime.m100,
.lime .m100 {
  background-color: #d4e157;
  color: $black;
}
.lime.m100 a,
.lime .m100 a {
  color: $black;
}
.lime.p100,
.lime .p100 {
  background-color: #c0ca33;
  color: $black;
}
.lime.p100 a,
.lime .p100 a {
  color: $black;
}
.lime.p200,
.lime .p200 {
  background-color: #afb42b;
  color: $black;
}
.lime.p200 a,
.lime .p200 a {
  color: $black;
}
.lime.p300,
.lime .p300 {
  background-color: #9e9d24;
  color: $black;
}
.lime.p300 a,
.lime .p300 a {
  color: $black;
}
.lime.p400,
.lime .p400 {
  background-color: #827717;
  color: $white;
}
.lime.p400 a,
.lime .p400 a {
  color: $white;
}
.lime.a100,
.lime .a100 {
  background-color: #f4ff81;
  color: $black;
}
.lime.a100 a,
.lime .a100 a {
  color: $black;
}
.lime.a200,
.lime .a200 {
  background-color: #eeff41;
  color: $black;
}
.lime.a200 a,
.lime .a200 a {
  color: $black;
}
.lime.a300,
.lime .a300 {
  background-color: #c6ff00;
  color: $black;
}
.lime.a300 a,
.lime .a300 a {
  color: $black;
}
.lime.a400,
.lime .a400 {
  background-color: #aeea00;
  color: $black;
}
.lime.a400 a,
.lime .a400 a {
  color: $black;
}
