.orange {
  background-color: #ff9800;
  color: $black;
}
.orange a {
  color: $black;
}
.orange.m450,
.orange .m450 {
  background-color: #fff3e0;
  color: $black;
}
.orange.m450 a,
.orange .m450 a {
  color: $black;
}
.orange.m400,
.orange .m400 {
  background-color: #ffe0b2;
  color: $black;
}
.orange.m400 a,
.orange .m400 a {
  color: $black;
}
.orange.m300,
.orange .m300 {
  background-color: #ffcc80;
  color: $black;
}
.orange.m300 a,
.orange .m300 a {
  color: $black;
}
.orange.m200,
.orange .m200 {
  background-color: #ffb74d;
  color: $black;
}
.orange.m200 a,
.orange .m200 a {
  color: $black;
}
.orange.m100,
.orange .m100 {
  background-color: #ffa726;
  color: $black;
}
.orange.m100 a,
.orange .m100 a {
  color: $black;
}
.orange.p100,
.orange .p100 {
  background-color: #fb8c00;
  color: $black;
}
.orange.p100 a,
.orange .p100 a {
  color: $black;
}
.orange.p200,
.orange .p200 {
  background-color: #f57c00;
  color: $black;
}
.orange.p200 a,
.orange .p200 a {
  color: $black;
}
.orange.p300,
.orange .p300 {
  background-color: #ef6c00;
  color: $white;
}
.orange.p300 a,
.orange .p300 a {
  color: $white;
}
.orange.p400,
.orange .p400 {
  background-color: #e65100;
  color: $white;
}
.orange.p400 a,
.orange .p400 a {
  color: $white;
}
.orange.a100,
.orange .a100 {
  background-color: #ffd180;
  color: $black;
}
.orange.a100 a,
.orange .a100 a {
  color: $black;
}
.orange.a200,
.orange .a200 {
  background-color: #ffab40;
  color: $black;
}
.orange.a200 a,
.orange .a200 a {
  color: $black;
}
.orange.a300,
.orange .a300 {
  background-color: #ff9100;
  color: $black;
}
.orange.a300 a,
.orange .a300 a {
  color: $black;
}
.orange.a400,
.orange .a400 {
  background-color: #ff6d00;
  color: $black;
}
.orange.a400 a,
.orange .a400 a {
  color: $black;
}
