.teal {
  background-color: #009688;
  color: $white;
}
.teal a {
  color: $white;
}
.teal.m450,
.teal .m450 {
  background-color: #e0f2f1;
  color: $black;
}
.teal.m450 a,
.teal .m450 a {
  color: $white;
}
.teal.m400,
.teal .m400 {
  background-color: #b2dfdb;
  color: $black;
}
.teal.m400 a,
.teal .m400 a {
  color: $white;
}
.teal.m300,
.teal .m300 {
  background-color: #80cbc4;
  color: $black;
}
.teal.m300 a,
.teal .m300 a {
  color: $white;
}
.teal.m200,
.teal .m200 {
  background-color: #4db6ac;
  color: $black;
}
.teal.m200 a,
.teal .m200 a {
  color: $white;
}
.teal.m100,
.teal .m100 {
  background-color: #26a69a;
  color: $black;
}
.teal.m100 a,
.teal .m100 a {
  color: $white;
}
.teal.p100,
.teal .p100 {
  background-color: #00897b;
  color: $white;
}
.teal.p100 a,
.teal .p100 a {
  color: $white;
}
.teal.p200,
.teal .p200 {
  background-color: #00796b;
  color: $white;
}
.teal.p200 a,
.teal .p200 a {
  color: $white;
}
.teal.p300,
.teal .p300 {
  background-color: #00695c;
  color: $white;
}
.teal.p300 a,
.teal .p300 a {
  color: $white;
}
.teal.p400,
.teal .p400 {
  background-color: #004d40;
  color: $white;
}
.teal.p400 a,
.teal .p400 a {
  color: $white;
}
.teal.a100,
.teal .a100 {
  background-color: #a7ffeb;
  color: $black;
}
.teal.a100 a,
.teal .a100 a {
  color: $white;
}
.teal.a200,
.teal .a200 {
  background-color: #64ffda;
  color: $black;
}
.teal.a200 a,
.teal .a200 a {
  color: $white;
}
.teal.a300,
.teal .a300 {
  background-color: #1de9b6;
  color: $black;
}
.teal.a300 a,
.teal .a300 a {
  color: $white;
}
.teal.a400,
.teal .a400 {
  background-color: #00bfa5;
  color: $black;
}
.teal.a400 a,
.teal .a400 a {
  color: $white;
}
