get-deep-purple(s = false)
  if s == 50
    rgba(#ede7f6)
  else if s == 100
    rgba(#d1c4e9)
  else if s == 200
    rgba(#b39ddb)
  else if s == 300
    rgba(#9575cd)
  else if s == 400
    rgba(#7e57c2)
  else if s == 500
    rgba(#673ab7)
  else if s == 600
    rgba(#5e35b1)
  else if s == 700
    rgba(#512da8)
  else if s == 800
    rgba(#4527a0)
  else if s == 900
    rgba(#311b92)
  else if s == 1000
    rgba(#b388ff)
  else if s == 1100
    rgba(#7c4dff)
  else if s == 1200
    rgba(#651fff)
  else if s == 1300
    rgba(#6200ea)
  else 
    rgba(#673ab7)
fill-deep-purple(s = false)
  background-color:get-deep-purple(s)
text-deep-purple(s = false)
  color:get-deep-purple(s)
border-deep-purple(s = false)
  border-color:get-deep-purple(s)
.fill-deep-purple
  fill-deep-purple()
  .fill-minus-1,
  &.fill-minus-1
    fill-deep-purple(400)
  .fill-minus-2,
  &.fill-minus-2
    fill-deep-purple(300)
  .fill-minus-3,
  &.fill-minus-3
    fill-deep-purple(200)
  .fill-minus-4,
  &.fill-minus-4
    fill-deep-purple(100)
  .fill-minus-5,
  &.fill-minus-5
    fill-deep-purple(50)
  .fill-plus-1,
  &.fill-plus-1
    fill-deep-purple(600)
  .fill-plus-2,
  &.fill-plus-2
    fill-deep-purple(700)
  .fill-plus-3,
  &.fill-plus-3
    fill-deep-purple(800)
  .fill-plus-4,
  &.fill-plus-4
    fill-deep-purple(900)
  .fill-accent-1,
  &.fill-accent-1
    fill-deep-purple(1000)
  .fill-accent-2,
  &.fill-accent-2
    fill-deep-purple(1100)
  .fill-accent-3,
  &.fill-accent-3
    fill-deep-purple(1200)
  .fill-accent-4,
  &.fill-accent-4
    fill-deep-purple(1300)
  .fill-base,
  &.fill-base
    fill-deep-purple(500)
.text-deep-purple
  text-deep-purple()
  .text-minus-1,
  &.text-minus-1
    text-deep-purple(400)
  .text-minus-2,
  &.text-minus-2
    text-deep-purple(300)
  .text-minus-3,
  &.text-minus-3
    text-deep-purple(200)
  .text-minus-4,
  &.text-minus-4
    text-deep-purple(100)
  .text-minus-5,
  &.text-minus-5
    text-deep-purple(50)
  .text-plus-1,
  &.text-plus-1
    text-deep-purple(600)
  .text-plus-2,
  &.text-plus-2
    text-deep-purple(700)
  .text-plus-3,
  &.text-plus-3
    text-deep-purple(800)
  .text-plus-4,
  &.text-plus-4
    text-deep-purple(900)
  .text-accent-1,
  &.text-accent-1
    text-deep-purple(1000)
  .text-accent-2,
  &.text-accent-2
    text-deep-purple(1100)
  .text-accent-3,
  &.text-accent-3
    text-deep-purple(1200)
  .text-accent-4,
  &.text-accent-4
    text-deep-purple(1300)
  .text-base,
  &.text-base
    text-deep-purple(500)
.border-deep-purple
  border-deep-purple()
  .border-minus-1,
  &.border-minus-1
    border-deep-purple(400)
  .border-minus-2,
  &.border-minus-2
    border-deep-purple(300)
  .border-minus-3,
  &.border-minus-3
    border-deep-purple(200)
  .border-minus-4,
  &.border-minus-4
    border-deep-purple(100)
  .border-minus-5,
  &.border-minus-5
    border-deep-purple(50)
  .border-plus-1,
  &.border-plus-1
    border-deep-purple(600)
  .border-plus-2,
  &.border-plus-2
    border-deep-purple(700)
  .border-plus-3,
  &.border-plus-3
    border-deep-purple(800)
  .border-plus-4,
  &.border-plus-4
    border-deep-purple(900)
  .border-accent-1,
  &.border-accent-1
    border-deep-purple(1000)
  .border-accent-2,
  &.border-accent-2
    border-deep-purple(1100)
  .border-accent-3,
  &.border-accent-3
    border-deep-purple(1200)
  .border-accent-4,
  &.border-accent-4
    border-deep-purple(1300)
  .border-base,
  &.border-base
    border-deep-purple(500)
