.amber {
  background: #ffc107;
  color: #ffc107;
}
.amber.m450,
.amber .m450 {
  background: #fff8e1;
  color: #000;
}
.amber.m400,
.amber .m400 {
  background: #ffecb3;
  color: #000;
}
.amber.m300,
.amber .m300 {
  background: #ffe082;
  color: #000;
}
.amber.m200,
.amber .m200 {
  background: #ffd54f;
  color: #000;
}
.amber.m100,
.amber .m100 {
  background: #ffca28;
  color: #000;
}
.amber.p100,
.amber .p100 {
  background: #ffb300;
  color: #000;
}
.amber.p200,
.amber .p200 {
  background: #ffa000;
  color: #000;
}
.amber.p300,
.amber .p300 {
  background: #ff8f00;
  color: #000;
}
.amber.p400,
.amber .p400 {
  background: #ff6f00;
  color: #000;
}
.amber.a100,
.amber .a100 {
  background: #ffe57f;
  color: #000;
}
.amber.a200,
.amber .a200 {
  background: #ffd740;
  color: #000;
}
.amber.a300,
.amber .a300 {
  background: #ffc400;
  color: #000;
}
.amber.a400,
.amber .a400 {
  background: #ffab00;
  color: #000;
}
