.blue {
  background: #5677fc;
  color: #fff;
}
.blue.m450,
.blue .m450 {
  background: #e7e9fd;
  color: #000;
}
.blue.m400,
.blue .m400 {
  background: #d0d9ff;
  color: #000;
}
.blue.m300,
.blue .m300 {
  background: #afbfff;
  color: #000;
}
.blue.m200,
.blue .m200 {
  background: #91a7ff;
  color: #000;
}
.blue.m100,
.blue .m100 {
  background: #738ffe;
  color: #000;
}
.blue.p100,
.blue .p100 {
  background: #4e6cef;
  color: #fff;
}
.blue.p200,
.blue .p200 {
  background: #455ede;
  color: #fff;
}
.blue.p300,
.blue .p300 {
  background: #3b50ce;
  color: #fff;
}
.blue.p400,
.blue .p400 {
  background: #2a36b1;
  color: #fff;
}
.blue.a100,
.blue .a100 {
  background: #a6baff;
  color: #000;
}
.blue.a200,
.blue .a200 {
  background: #6889ff;
  color: #fff;
}
.blue.a300,
.blue .a300 {
  background: #4d73ff;
  color: #fff;
}
.blue.a400,
.blue .a400 {
  background: #4d69ff;
  color: #fff;
}
