.blue-grey {
  background: #607d8b;
  color: #fff;
}
.blue-grey.m450,
.blue-grey .m450 {
  background: #eceff1;
  color: #000;
}
.blue-grey.m400,
.blue-grey .m400 {
  background: #cfd8dc;
  color: #000;
}
.blue-grey.m300,
.blue-grey .m300 {
  background: #b0bec5;
  color: #000;
}
.blue-grey.m200,
.blue-grey .m200 {
  background: #90a4ae;
  color: #000;
}
.blue-grey.m100,
.blue-grey .m100 {
  background: #78909c;
  color: #fff;
}
.blue-grey.p100,
.blue-grey .p100 {
  background: #546e7a;
  color: #fff;
}
.blue-grey.p200,
.blue-grey .p200 {
  background: #455a64;
  color: #fff;
}
.blue-grey.p300,
.blue-grey .p300 {
  background: #37474f;
  color: #fff;
}
.blue-grey.p400,
.blue-grey .p400 {
  background: #263238;
  color: #fff;
}
.blue-grey.a100,
.blue-grey .a100 {
  background: #cfd8dc;
  color: #000;
}
.blue-grey.a200,
.blue-grey .a200 {
  background: #b0bec5;
  color: #000;
}
.blue-grey.a300,
.blue-grey .a300 {
  background: #90a4ae;
  color: #000;
}
.blue-grey.a400,
.blue-grey .a400 {
  background: #78909c;
  color: #fff;
}
