.brown {
  background: #795548;
  color: #fff;
}
.brown.m450,
.brown .m450 {
  background: #efebe9;
  color: #000;
}
.brown.m400,
.brown .m400 {
  background: #d7ccc8;
  color: #000;
}
.brown.m300,
.brown .m300 {
  background: #bcaaa4;
  color: #000;
}
.brown.m200,
.brown .m200 {
  background: #a1887f;
  color: #fff;
}
.brown.m100,
.brown .m100 {
  background: #8d6e63;
  color: #fff;
}
.brown.p100,
.brown .p100 {
  background: #6d4c41;
  color: #fff;
}
.brown.p200,
.brown .p200 {
  background: #5d4037;
  color: #fff;
}
.brown.p300,
.brown .p300 {
  background: #4e342e;
  color: #fff;
}
.brown.p400,
.brown .p400 {
  background: #3e2723;
  color: #fff;
}
.brown.a100,
.brown .a100 {
  background: #d7ccc8;
  color: #000;
}
.brown.a200,
.brown .a200 {
  background: #bcaaa4;
  color: #000;
}
.brown.a300,
.brown .a300 {
  background: #a1887f;
  color: #fff;
}
.brown.a400,
.brown .a400 {
  background: #8d6e63;
  color: #fff;
}
