.cyan {
  background: #00bcd4;
  color: #fff;
}
.cyan.m450,
.cyan .m450 {
  background: #e0f7fa;
  color: #000;
}
.cyan.m400,
.cyan .m400 {
  background: #b2ebf2;
  color: #000;
}
.cyan.m300,
.cyan .m300 {
  background: #80deea;
  color: #000;
}
.cyan.m200,
.cyan .m200 {
  background: #4dd0e1;
  color: #000;
}
.cyan.m100,
.cyan .m100 {
  background: #26c6da;
  color: #000;
}
.cyan.p100,
.cyan .p100 {
  background: #00acc1;
  color: #fff;
}
.cyan.p200,
.cyan .p200 {
  background: #0097a7;
  color: #fff;
}
.cyan.p300,
.cyan .p300 {
  background: #00838f;
  color: #fff;
}
.cyan.p400,
.cyan .p400 {
  background: #006064;
  color: #fff;
}
.cyan.a100,
.cyan .a100 {
  background: #84ffff;
  color: #000;
}
.cyan.a200,
.cyan .a200 {
  background: #18ffff;
  color: #000;
}
.cyan.a300,
.cyan .a300 {
  background: #00e5ff;
  color: #000;
}
.cyan.a400,
.cyan .a400 {
  background: #00b8d4;
  color: #000;
}
