.deep-purple {
  background: #673ab7;
  color: #fff;
}
.deep-purple.m450,
.deep-purple .m450 {
  background: #ede7f6;
  color: #000;
}
.deep-purple.m400,
.deep-purple .m400 {
  background: #d1c4e9;
  color: #000;
}
.deep-purple.m300,
.deep-purple .m300 {
  background: #b39ddb;
  color: #000;
}
.deep-purple.m200,
.deep-purple .m200 {
  background: #9575cd;
  color: #fff;
}
.deep-purple.m100,
.deep-purple .m100 {
  background: #7e57c2;
  color: #fff;
}
.deep-purple.p100,
.deep-purple .p100 {
  background: #5e35b1;
  color: #fff;
}
.deep-purple.p200,
.deep-purple .p200 {
  background: #512da8;
  color: #fff;
}
.deep-purple.p300,
.deep-purple .p300 {
  background: #4527a0;
  color: #fff;
}
.deep-purple.p400,
.deep-purple .p400 {
  background: #311b92;
  color: #fff;
}
.deep-purple.a100,
.deep-purple .a100 {
  background: #b388ff;
  color: #000;
}
.deep-purple.a200,
.deep-purple .a200 {
  background: #7c4dff;
  color: #fff;
}
.deep-purple.a300,
.deep-purple .a300 {
  background: #651fff;
  color: #fff;
}
.deep-purple.a400,
.deep-purple .a400 {
  background: #6200ea;
  color: #fff;
}
