.green {
  background: #259b24;
  color: #fff;
}
.green.m450,
.green .m450 {
  background: #d0f8ce;
  color: #000;
}
.green.m400,
.green .m400 {
  background: #a3e9a4;
  color: #000;
}
.green.m300,
.green .m300 {
  background: #72d572;
  color: #000;
}
.green.m200,
.green .m200 {
  background: #42bd41;
  color: #000;
}
.green.m100,
.green .m100 {
  background: #2baf2b;
  color: #000;
}
.green.p100,
.green .p100 {
  background: #0a8f08;
  color: #fff;
}
.green.p200,
.green .p200 {
  background: #0a7e07;
  color: #fff;
}
.green.p300,
.green .p300 {
  background: #056f00;
  color: #fff;
}
.green.p400,
.green .p400 {
  background: #0d5302;
  color: #fff;
}
.green.a100,
.green .a100 {
  background: #a2f78d;
  color: #000;
}
.green.a200,
.green .a200 {
  background: #5af158;
  color: #000;
}
.green.a300,
.green .a300 {
  background: #14e715;
  color: #000;
}
.green.a400,
.green .a400 {
  background: #12c700;
  color: #000;
}
