.light-blue {
  background: #03a9f4;
  color: #fff;
}
.light-blue.m450,
.light-blue .m450 {
  background: #e1f5fe;
  color: #000;
}
.light-blue.m400,
.light-blue .m400 {
  background: #b3e5fc;
  color: #000;
}
.light-blue.m300,
.light-blue .m300 {
  background: #81d4fa;
  color: #000;
}
.light-blue.m200,
.light-blue .m200 {
  background: #4fc3f7;
  color: #000;
}
.light-blue.m100,
.light-blue .m100 {
  background: #29b6f6;
  color: #000;
}
.light-blue.p100,
.light-blue .p100 {
  background: #039be5;
  color: #fff;
}
.light-blue.p200,
.light-blue .p200 {
  background: #0288d1;
  color: #fff;
}
.light-blue.p300,
.light-blue .p300 {
  background: #0277bd;
  color: #fff;
}
.light-blue.p400,
.light-blue .p400 {
  background: #01579b;
  color: #fff;
}
.light-blue.a100,
.light-blue .a100 {
  background: #80d8ff;
  color: #000;
}
.light-blue.a200,
.light-blue .a200 {
  background: #40c4ff;
  color: #000;
}
.light-blue.a300,
.light-blue .a300 {
  background: #00b0ff;
  color: #000;
}
.light-blue.a400,
.light-blue .a400 {
  background: #0091ea;
  color: #fff;
}
