.light-green {
  background: #8bc34a;
  color: #000;
}
.light-green.m450,
.light-green .m450 {
  background: #f1f8e9;
  color: #000;
}
.light-green.m400,
.light-green .m400 {
  background: #dcedc8;
  color: #000;
}
.light-green.m300,
.light-green .m300 {
  background: #c5e1a5;
  color: #000;
}
.light-green.m200,
.light-green .m200 {
  background: #aed581;
  color: #000;
}
.light-green.m100,
.light-green .m100 {
  background: #9ccc65;
  color: #000;
}
.light-green.p100,
.light-green .p100 {
  background: #7cb342;
  color: #000;
}
.light-green.p200,
.light-green .p200 {
  background: #689f38;
  color: #000;
}
.light-green.p300,
.light-green .p300 {
  background: #558b2f;
  color: #fff;
}
.light-green.p400,
.light-green .p400 {
  background: #33691e;
  color: #fff;
}
.light-green.a100,
.light-green .a100 {
  background: #ccff90;
  color: #000;
}
.light-green.a200,
.light-green .a200 {
  background: #b2ff59;
  color: #000;
}
.light-green.a300,
.light-green .a300 {
  background: #76ff03;
  color: #000;
}
.light-green.a400,
.light-green .a400 {
  background: #64dd17;
  color: #000;
}
