.lime {
  background: #cddc39;
  color: #000;
}
.lime.m450,
.lime .m450 {
  background: #f9fbe7;
  color: #000;
}
.lime.m400,
.lime .m400 {
  background: #f0f4c3;
  color: #000;
}
.lime.m300,
.lime .m300 {
  background: #e6ee9c;
  color: #000;
}
.lime.m200,
.lime .m200 {
  background: #dce775;
  color: #000;
}
.lime.m100,
.lime .m100 {
  background: #d4e157;
  color: #000;
}
.lime.p100,
.lime .p100 {
  background: #c0ca33;
  color: #000;
}
.lime.p200,
.lime .p200 {
  background: #afb42b;
  color: #000;
}
.lime.p300,
.lime .p300 {
  background: #9e9d24;
  color: #000;
}
.lime.p400,
.lime .p400 {
  background: #827717;
  color: #fff;
}
.lime.a100,
.lime .a100 {
  background: #f4ff81;
  color: #000;
}
.lime.a200,
.lime .a200 {
  background: #eeff41;
  color: #000;
}
.lime.a300,
.lime .a300 {
  background: #c6ff00;
  color: #000;
}
.lime.a400,
.lime .a400 {
  background: #aeea00;
  color: #000;
}
