.pink {
  background: #e91e63;
  color: #fff;
}
.pink.m450,
.pink .m450 {
  background: #fce4ec;
  color: #000;
}
.pink.m400,
.pink .m400 {
  background: #f8bbd0;
  color: #000;
}
.pink.m300,
.pink .m300 {
  background: #f48fb1;
  color: #000;
}
.pink.m200,
.pink .m200 {
  background: #f06292;
  color: #000;
}
.pink.m100,
.pink .m100 {
  background: #ec407a;
  color: #000;
}
.pink.p100,
.pink .p100 {
  background: #d81b60;
  color: #fff;
}
.pink.p200,
.pink .p200 {
  background: #c2185b;
  color: #fff;
}
.pink.p300,
.pink .p300 {
  background: #ad1457;
  color: #fff;
}
.pink.p400,
.pink .p400 {
  background: #880e4f;
  color: #fff;
}
.pink.a100,
.pink .a100 {
  background: #ff80ab;
  color: #000;
}
.pink.a200,
.pink .a200 {
  background: #ff4081;
  color: #fff;
}
.pink.a300,
.pink .a300 {
  background: #f50057;
  color: #fff;
}
.pink.a400,
.pink .a400 {
  background: #c51162;
  color: #fff;
}
