.purple {
  background: #9c27b0;
  color: #fff;
}
.purple.m450,
.purple .m450 {
  background: #f3e5f5;
  color: #000;
}
.purple.m400,
.purple .m400 {
  background: #e1bee7;
  color: #000;
}
.purple.m300,
.purple .m300 {
  background: #ce93d8;
  color: #000;
}
.purple.m200,
.purple .m200 {
  background: #ba68c8;
  color: #fff;
}
.purple.m100,
.purple .m100 {
  background: #ab47bc;
  color: #fff;
}
.purple.p100,
.purple .p100 {
  background: #8e24aa;
  color: #fff;
}
.purple.p200,
.purple .p200 {
  background: #7b1fa2;
  color: #fff;
}
.purple.p300,
.purple .p300 {
  background: #6a1b9a;
  color: #fff;
}
.purple.p400,
.purple .p400 {
  background: #4a148c;
  color: #fff;
}
.purple.a100,
.purple .a100 {
  background: #ea80fc;
  color: #000;
}
.purple.a200,
.purple .a200 {
  background: #e040fb;
  color: #fff;
}
.purple.a300,
.purple .a300 {
  background: #d500f9;
  color: #fff;
}
.purple.a400,
.purple .a400 {
  background: #a0f;
  color: #fff;
}
