.red {
  background: #e51c23;
  color: #fff;
}
.red.m450,
.red .m450 {
  background: #fde0dc;
  color: #000;
}
.red.m400,
.red .m400 {
  background: #f9bdbb;
  color: #000;
}
.red.m300,
.red .m300 {
  background: #f69988;
  color: #000;
}
.red.m200,
.red .m200 {
  background: #f36c60;
  color: #000;
}
.red.m100,
.red .m100 {
  background: #e84e40;
  color: #000;
}
.red.p100,
.red .p100 {
  background: #dd191d;
  color: #fff;
}
.red.p200,
.red .p200 {
  background: #d01716;
  color: #fff;
}
.red.p300,
.red .p300 {
  background: #c41411;
  color: #fff;
}
.red.p400,
.red .p400 {
  background: #b0120a;
  color: #fff;
}
.red.a100,
.red .a100 {
  background: #ff7997;
  color: #000;
}
.red.a200,
.red .a200 {
  background: #ff5177;
  color: #fff;
}
.red.a300,
.red .a300 {
  background: #ff2d6f;
  color: #fff;
}
.red.a400,
.red .a400 {
  background: #e00032;
  color: #fff;
}
