.onoffswitch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch .checkbox {
  display: none;
}
.onoffswitch .checkbox:checked + .switch .inner {
  margin-left: -100%;
}
.onoffswitch .checkbox:checked + .switch .handle {
  right: 50%;
}
.onoffswitch .switch {
  margin: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid $weak-color;
  border-radius: 3px;
  height: 100%;
}
.onoffswitch .switch .inner {
  height: inherit;
  width: 200%;
  transition: margin 0.3s ease-in;
  text-transform: uppercase;
}
.onoffswitch .switch .inner .on {
  margin: 0 -1px 0 -2px;
}
.onoffswitch .switch .inner .on,
.onoffswitch .switch .inner .off {
  height: inherit;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.onoffswitch .switch .inner .on .value,
.onoffswitch .switch .inner .off .value {
  padding: 8px 8px;
  vertical-align: middle;
  width: 50%;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}
.onoffswitch .switch .inner .off {
  text-align: right;
}
.onoffswitch .switch .inner .off .value {
  padding-right: 16px;
}
.onoffswitch .switch .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 50%;
  border: 1px solid $weak-color;
  border-radius: 2px;
  display: block;
  transition: all 0.3s ease-in;
}
