a
  &.list-item
    color:$text-color
    display:block
    width:100%
    padding-top:10px
    position:relative
    clearfix()
    .text
      border-bottom:1px solid $weak-color
      padding:0 0 10px 0
    .clearfix
      .pull-left, .pull-right
        center(false)
        .circle
          center()
    .icon
      &:first-child
        margin-right:5px
    &:hover
      color:$text-color
      text-decoration:none