.tabs
	a
		&.tab-link
			text-align:center
			border-bottom:2px solid transparent
			display:block
			border-radius:0
			depth(0)
			&.icon
				large()
			&:hover, &.active
				text-decoration:none
				background:none
				border-cyan()
				text-cyan()
				depth(0)
			&:focus
				depth(0)