disabled()
  fill-grey(200)
  text-grey(400)
  depth(0)
  &:hover
    background-color:none
    text-grey(400)
    depth(0)
  &:active
    depth(0)

button()
  padding:10px 20px
  border-radius:2px
  text-transform:uppercase
  font-size:90%
  width:auto !important
  transition:all .2s ease
  inline()
  depth(1)
  &:hover
    fill-cyan(700)
    depth(2)
  &:active
    depth(3)
  &.disabled
    disabled()

input[type=submit]
  -webkit-appearance:none
  border:0
  smooth-font()
  button()
  &:focus
    outline:0
  &:hover
    color:darken(#fff, 10%)
  &.flat
    color:inherit
  &.disabled,
  &:disabled
    disabled()
.button
  button()
  &.flat
    background:none
    depth(0)
    &:hover
      fill-cyan(300)
      depth(1)
    &:active
      depth(3)
    &.disabled
      disabled()
  &.text
    background:none
    padding:0 20px 0 0
    font-weight:bold
    depth(0)
    &:hover
      background:none
      color:$link-hover-color
      depth(0)
    &:active
      depth(0)
    &.disabled
      background:none
      &:hover
        text-grey(400)
a
  &.button
    &:hover
      text-decoration:none
      color:darken(#fff, 10%)