defaults()
  width:100%
  background:none
  border:0
  border-bottom:1px solid $weak-color
  padding:5px 0 9px 0;
  border-radius:0
  -webkit-font-smoothing: antialiased
  &:focus
    outline:0
    border-width:2px
    padding-bottom:8px
    border-cyan()
  &:disabled
    border-style:dotted
    &:hover
      cursor:not-allowed
    &::-webkit-input-placeholder
      opacity:.5
    &:-moz-placeholder
      opacity:.5
    &::-moz-placeholder
      opacity:.5
    &:-ms-input-placeholder
      opacity:.5
input[type=text],
input[type=password],
input[type=email]
  defaults()
.input
  position:relative
  transition:all .2s ease-in-out
  base-padding()
  .error-message
    padding:0 10px
    opacity:0
    visibility:hidden
    transition:all .2s ease-in-out
    small()
    text-red()
  &.error
    margin-bottom:20px
    .error-message
      opacity:1
      visibility:visible
    input,
    textarea
      border-width:2px
      padding-bottom:8px
      border-red()
textarea
  max-width:100%
  min-width:100%
  min-height:100px
  defaults()
select
  width:100%
label,
.label
  font-size:80%
  text-grey()
  &:not(div)
    inline()