.image
  line-height: 0
  position: relative
.overlay
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 100%
  background-color: rgba(0,0,0,.5)
  line-height: initial
  base-padding()
  text-white()