.notice
	clearfix()
	.message
		margin:10px
		padding:15px 20px
		bg-grey(900)
		tile()
		text-white()
		display:block
		span
			font-size:90%
		.button
			padding:0
			text-cyan()
			&:hover
				background:none
				text-cyan(200)