.slider
  overflow:hidden
  position:relative
  .stripe
    clearfix()
    .slide
      background-size:cover
      background-position:center center
      height:100%
      img
        width:100%
  .left,
  .right
    top: 50%
    margin-top: -40px
    font-size: 80px
    text-white()
    &:hover
      text-decoration: none
      opacity: .8
  .slider-nav
    position:absolute
    bottom:20px
    left:0
    right:0
    width:100%
    text-align:center
    z-index:10
    ul
      li
        padding:0
        a
          width:10px
          height:10px
          bg-grey()
          &:hover
            bg-grey(300)
          &.active
            bg-white()