@import "all-colors"

$colors = (m450 $amber-50 $dark) (m400 $amber-100 $dark) (m300 $amber-200 $dark) (m200 $amber-300 $dark) (m100 $amber-400 $dark) (p100 $amber-600 $dark) (p200 $amber-700 $dark) (p300 $amber-800 $dark) (p400 $amber-900 $dark) (a100 $amber-a100 $dark) (a200 $amber-a200 $dark) (a300 $amber-a300 $dark) (a400 $amber-a400 $dark)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background-color:color[1]
      color:color[2]
      a
        color:color[2]
.amber
  background-color:$amber
  color:$dark
  a
    color:$dark
  setColors($colors)