@import "all-colors"

$colors = (m450 $brown-50 $dark) (m400 $brown-100 $dark) (m300 $brown-200 $dark) (m200 $brown-300 $light) (m100 $brown-400 $light) (p100 $brown-600 $light) (p200 $brown-700 $light) (p300 $brown-800 $light) (p400 $brown-900 $light) (a100 $brown-a100 $dark) (a200 $brown-a200 $dark) (a300 $brown-a300 $light) (a400 $brown-a400 $light)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background:color[1]
      color:color[2]
.brown
  background:$brown
  color:$light
  setColors($colors)