@import "all-colors"

$colors = (m450 $deep-purple-50 $dark) (m400 $deep-purple-100 $dark) (m300 $deep-purple-200 $dark) (m200 $deep-purple-300 $light) (m100 $deep-purple-400 $light) (p100 $deep-purple-600 $light) (p200 $deep-purple-700 $light) (p300 $deep-purple-800 $light) (p400 $deep-purple-900 $light) (a100 $deep-purple-a100 $dark) (a200 $deep-purple-a200 $light) (a300 $deep-purple-a300 $light) (a400 $deep-purple-a400 $light)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background-color:color[1]
      color:color[2]
      a
        color:color[2]
.deep-purple
  background-color:$deep-purple
  color:$light
  a
    color:$light
  setColors($colors)