@import "all-colors"

$colors = (m450 $deep-orange-50 $dark) (m400 $deep-orange-100 $dark) (m300 $deep-orange-200 $dark) (m200 $deep-orange-300 $dark) (m100 $deep-orange-400 $dark) (p100 $deep-orange-600 $light) (p200 $deep-orange-700 $light) (p300 $deep-orange-800 $light) (p400 $deep-orange-900 $light) (a100 $deep-orange-a100 $dark) (a200 $deep-orange-a200 $dark) (a300 $deep-orange-a300 $light) (a400 $deep-orange-a400 $light)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background:color[1]
      color:color[2]
.deep-orange
  background:$deep-orange
  color:$light
  setColors($colors)