@import "all-colors"

$colors = (m450 $green-50 $dark) (m400 $green-100 $dark) (m300 $green-200 $dark) (m200 $green-300 $dark) (m100 $green-400 $dark) (p100 $green-600 $light) (p200 $green-700 $light) (p300 $green-800 $light) (p400 $green-900 $light) (a100 $green-a100 $dark) (a200 $green-a200 $dark) (a300 $green-a300 $dark) (a400 $green-a400 $dark)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background-color:color[1]
      color:color[2]
      a
        color:color[2]
.green
  background-color:$green
  color:$light
  a
    color:$light
  setColors($colors)