@import "all-colors"

$colors = (m450 $light-blue-50 $dark) (m400 $light-blue-100 $dark) (m300 $light-blue-200 $dark) (m200 $light-blue-300 $dark) (m100 $light-blue-400 $dark) (p100 $light-blue-600 $light) (p200 $light-blue-700 $light) (p300 $light-blue-800 $light) (p400 $light-blue-900 $light) (a100 $light-blue-a100 $dark) (a200 $light-blue-a200 $dark) (a300 $light-blue-a300 $dark) (a400 $light-blue-a400 $light)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background:color[1]
      color:color[2]
.light-blue
  background:$light-blue
  color:$light
  setColors($colors)