@import "all-colors"

$colors = (m450 $lime-50 $dark) (m400 $lime-100 $dark) (m300 $lime-200 $dark) (m200 $lime-300 $dark) (m100 $lime-400 $dark) (p100 $lime-600 $dark) (p200 $lime-700 $dark) (p300 $lime-800 $dark) (p400 $lime-900 $light) (a100 $lime-a100 $dark) (a200 $lime-a200 $dark) (a300 $lime-a300 $dark) (a400 $lime-a400 $dark)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background:color[1]
      color:color[2]
.lime
  background:$lime
  color:$dark
  setColors($colors)