@import "all-colors"

$colors = (m450 $pink-50 $dark) (m400 $pink-100 $dark) (m300 $pink-200 $dark) (m200 $pink-300 $dark) (m100 $pink-400 $dark) (p100 $pink-600 $light) (p200 $pink-700 $light) (p300 $pink-800 $light) (p400 $pink-900 $light) (a100 $pink-a100 $dark) (a200 $pink-a200 $light) (a300 $pink-a300 $light) (a400 $pink-a400 $light)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background:color[1]
      color:color[2]
.pink
  background:$pink
  color:$light
  setColors($colors)