@import "all-colors"

$colors = (m450 $purple-50 $dark) (m400 $purple-100 $dark) (m300 $purple-200 $dark) (m200 $purple-300 $light) (m100 $purple-400 $light) (p100 $purple-600 $light) (p200 $purple-700 $light) (p300 $purple-800 $light) (p400 $purple-900 $light) (a100 $purple-a100 $dark) (a200 $purple-a200 $light) (a300 $purple-a300 $light) (a400 $purple-a400 $light)

setColors(colors)
  colors = arguments if length(arguments) > 1
  for color in colors
    &.{color[0]},
    .{color[0]}
      background:color[1]
      color:color[2]
.purple
  background:$purple
  color:$light
  setColors($colors)