defaults()
  width:100%
  background:none
  border:0
  border-bottom:1px solid $weak-color
  padding:5px 0 3px 0;
  smooth-font()
  &:focus
    outline:0
input[type=text]
  defaults()
textarea
  max-width:100%
  min-width:100%
  min-height:100px
  defaults()
select
  width:100%
label,
.label
  font-size:80%
  text-grey()
  inline()