@media (min-width: $screen-lg-min)
  body
    &:before
      content:'desktop'
    // .top-nav
    //   display:block
    //   padding:10px 0
    //   .icon-list2
    //     display:none
    //   .label
    //     text-white()
    //   .drop
    //     position:static
    //     opacity:1
    //     visibility:visible
    //     width:100%
    //     background:none
    //     padding:0
    //     depth(0)
    //     ul
    //       li
    //         inline()
    //         a
    //           padding:0
    //           text-white()
    //           &:hover, &.active
    //             background:none
    //             text-grey()
    //     .crow
    //       destroy-crow()
    //       > div
    //         padding:0