/*
 Base css file. The compiled .css from this file should be the only file included on your web
*/

@import "../js/libs/waves/dist/waves.css"
@import "../fonts/icomoon/style.css"

// Colors comment out those who are not desired
@import "colors/red"
@import "colors/pink"
@import "colors/purple"
@import "colors/deep-purple"
@import "colors/indigo"
@import "colors/light-blue"
@import "colors/cyan"
@import "colors/teal"
@import "colors/green"
@import "colors/light-green"
@import "colors/lime"
@import "colors/yellow"
@import "colors/amber"
@import "colors/orange"
@import "colors/deep-orange"
@import "colors/brown"

// Base colors, leave those
@import "colors/blue"
@import "colors/blue-grey"
@import "colors/grey"

@import "colors/black"
@import "colors/white"

@import "variables"

@import "crow"
@import "mixins"
@import "nostyle"
@import "normalize"
@import "topbot"

// Compontents
@import "components/forms"
@import "components/button"
@import "components/card"
@import "components/circle"
@import "components/dropdown"
@import "components/image"
@import "components/list-item"
@import "components/modal"
@import "components/slider"
@import "components/switch"
@import "components/tile"
@import "components/notice"
@import "components/tabs"
@import "components/flipcard"

@import "leaf-style"
@import "style-desktop"
@import "style-tablet"
@import "style-mobile"