@import "variables"

$screen-xs-min =      481px;
$screen-phone =       $screen-xs-min;

$screen-sm-min =      768px;
$screen-tablet =      $screen-sm-min;

$screen-md-min =      992px;
$screen-desktop =     $screen-md-min;

$screen-lg-min =      1200px;
$screen-lg-desktop =  $screen-lg-min;

$screen-xs-max =      ($screen-sm-min - 1)
$screen-sm-max =      ($screen-md-min - 1)
$screen-md-max =      ($screen-lg-min - 1)

$auto-widths-iterations = 12
$locked-widths-iterations = 100
$unit-widths-iterations = 12
$gutter = 15

auto-widths(nums)
  for i in 1..nums
    > div:first-child:nth-last-child({i}),
    > div:first-child:nth-last-child({i}) ~ div
      $percent = 100/i
      width: $percent+"%"
  
locked-widths(nums)
  for i in 1..nums
    .w-{i}
      $percent = i
      width: $percent+"%"

unit-widths(nums)
  for i in 1..nums
    .ws-{i}
      $percent = 100*i/$unit-widths-iterations
      width: $percent+"%"

.crow
  text-align:center
  height:100%
  font-size:0
  padding:0 $gutter*1px
  locked-widths($locked-widths-iterations)
  unit-widths($unit-widths-iterations)
  .crow
    text-align:center;
    font-size:0;
    padding:0;
  &.fly
    auto-widths($auto-widths-iterations)
  &.no-gutter
    padding:0
    > div
      padding:0
  &.up
    > div
      vertical-align:top
  &.down
    > div
      vertical-align:bottom
  > div
    vertical-align:middle
    font-size:$font-size
    line-height:$line-height
    display:inline-block
    padding:0 ($gutter * 1px)
    &:not(.text-center)
      text-align:left
    &.up
      vertical-align:top
    &.down
      vertical-align:bottom
  &:before
    content:''
    display:inline-block
    height:100%
    vertical-align:middle

.container
  width:960px
  margin:0 auto
  padding:0 ($gutter * 1px)
  > .crow
    margin:0 (- $gutter * 1px)
    padding:0 !important
destroy-all()
  .crow
    //height:auto !important
    > div
      display:block
      width:auto !important
    &:before 
      content: ''
      display: none
destroy-crow()
  &.crow
    height:auto
    > div
      display:block
      width:100%
    &:before
      content: ''
      display: none

// Desktop only styles (desktops, 1200px and up) 
@media (min-width: $screen-lg-min)
  // Notice: this is an example, you may change it
  .container
    width:970px;

// Tablet, both orientations
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max)
  body
    .container
      width:750px;

    .container .crow > .crow
      destroy-crow()
  
  // Tablet, vertical
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    body
      // Your code here

  // Tablet, horizontal
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max)
    body
      // Your code here


// Smartphone, both orientations
@media (max-width: $screen-xs-max)
  body
    .container
      width:auto
    .crow 
      > .crow,
      &.crow
        &:not(.keep-alive)
          destroy-crow()

  // Smartphone, vertical
  @media (max-width: $screen-xs-min)
    body
      // Your code here

  // smartphone, horizontal
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
    body
      // Your code here


/*
@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee


body {
  #wrapper {
    .crow {
      &.dev {
        div {
          background:@gray-lighter;
          div {
            background:darken(@gray-lighter, 10%);
            div {
              background:darken(@gray-lighter, 20%);
              div {
                background:darken(@gray-lighter, 30%);
                div {
                  background:darken(@gray-lighter, 40%);
                  div {
                    background:darken(@gray-lighter, 10%);
                    div {
                      background:darken(@gray-lighter, 20%);
                      div {
                        background:darken(@gray-lighter, 30%);
                        div {
                          background:darken(@gray-lighter, 40%);
                          div {
                            background:darken(@gray-lighter, 40%);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
*/