body
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  color: $text-color
  background-color: $bg-color
a
  color: $link-color
  text-decoration: none
  &:hover
    color: $link-hover-color
    text-decoration: underline
hr
  border: 0
  border-bottom: 1px solid $weak-color
h1,
h2
  margin-bottom: 20px
h3,
h4,
h5,
h6
  font-size: 16px
  margin-bottom: 20px

