.text
  overflow: hidden
  position: relative
.pull-left
  float: left
.pull-right
  float: right
.block
  display: block
.inline-block
  inline()
.clearfix
  clearfix()
.text-center
  text-center()
.text-left
  text-left()
.text-right
  text-right()
.center
  center()
.small
  small()
.large
  large()
.spacer
  height: 40px
  &.half
    height: 20px
  &.quarter
    height: 10px
a
  word-break: break-word
  background: transparent
  &:active,
  &:hover
    outline: 0
html
  font-size: 62.5%
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  font-family: sans-serif // 1
  -ms-text-size-adjust: 100% // 2
  -webkit-text-size-adjust: 100% // 2
  -webkit-font-smoothing: antialiased
body
  margin: 0
  &:before
    position: fixed
    visibility: hidden
    *display: none
img
  border: 0
  max-width: 100%
ul
  &.minimized
    ul
      visibility:hidden
      opacity:0
      overflow:hidden
      //transition:all .5s ease-in-out
      //height:0
      display:none
      border-top:1px solid transparent
      border-bottom:1px solid transparent
      &.opened
        //height:auto
        visibility:visible
        opacity:1
        border-color:$weak-color
  &.unstyled
    unstyled()
    li
      display:block
    ul
      unstyled()
      li
        a
          padding-left:20px
        ul
          li
            a
              padding-left:40px
          ul
            li
              a
                padding-left:60px
  &.inline
    list-style:none
    padding:0
    margin:0
    > li
      inline()