.text
  overflow:hidden
  position:relative
.clearfix
  clearfix()
.pull-left
  float:left
.pull-right
  float:right
.inline-block
  inline()
.text-center
  text-center()
.text-left
  text-left()
.text-right
  text-right()
.block
  display:block
a
  word-break:break-word
ul
  &.minimized
    ul
      visibility:hidden
      opacity:0
      overflow:hidden
      //transition:all .5s ease-in-out
      //height:0
      display:none
      border-top:1px solid transparent
      border-bottom:1px solid transparent
      &.opened
        //height:auto
        visibility:visible
        opacity:1
        border-color:$weak-color
  &.unstyled
    unstyled()
    li
      display:block
    ul
      unstyled()
      li
        a
          padding-left:20px
        ul
          li
            a
              padding-left:40px
          ul
            li
              a
                padding-left:60px
  &.inline
    list-style:none
    padding:0
    margin:0
    > li
      inline()