body
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  color: $text-color
  background-color: $bg-color
.show-on-mobile,
.show-on-tablet
  display:none
a
  color: $link-color
  text-decoration: none
  &:hover
    color: $link-hover-color
    text-decoration: underline
#wrapper
  position: relative
hr
  border-bottom: 1px solid $weak-color