// Tablet, both orientations
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max)
  body
    // Your code here
  
  // Tablet, vertical
  @media (orientation: portrait)
    body
      // Your code here
      &:before
        content: 'tablet vertical'

  // Tablet, horizontal
  @media (orientation: landscape)
    body
      // Your code here
      &:before
        content: 'tablet horizontal'