/*
  > topbot CSS <
  The only file necessary to get a
  (really) smart sticky footer!

  Author: Kim Korte
*/
*,
*:before,
*:after
  box-sizing: inherit // Works for IE8+
html,
body
  height: 100%
  margin: 0
body
  display: table
  width: 100%
html
  overflow-y: scroll
  box-sizing: border-box
footer,
.bot,
header,
.top,
#wrapper
  display: table-row
  min-height: 1px
#wrapper
  height: 100%
  position: relative