$accent-color     = get-grey(800)
$ambient-color    = get-grey()

$main-color       = get-blue-grey()
$strong-color     = get-blue-grey(900)
$weak-color       = get-blue-grey(100)

$link-color       = get-cyan()
$link-hover-color = get-cyan(300)
$text-color       = $accent-color
$bg-color         = get-grey(50)

$font-family      = 'Roboto', arial
$font-size        = 14px
$line-height      = 22px